<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>41 PAAF IDPS Roadmap view WP 3</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>41 PAAF IDPS Roadmap view WP 3</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-layered"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_layered" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-2ba889f6aef24571bc68151c760f146e.png" alt="41 PAAF IDPS Roadmap view WP 3" usemap="#id-2ba889f6aef24571bc68151c760f146emap"/>
			   <map name="id-2ba889f6aef24571bc68151c760f146emap">
				  				<area shape="rect" coords="1006,184,1355,209" href="../elements/id-0f9d2d64450e4455bb099c07902a2df8.html"  target="element">
				  				<area shape="rect" coords="1006,160,1355,185" href="../elements/id-faddabcd2b7542ac9d59815d460928b9.html"  target="element">
				  				<area shape="rect" coords="1006,136,1355,161" href="../elements/id-00f50cab26264e2aa089206413b98346.html"  target="element">
				  				<area shape="rect" coords="1006,112,1355,137" href="../elements/id-894b115ad90b4d25b06cef0666811fe1.html"  target="element">
				  				<area shape="rect" coords="1006,88,1355,113" href="../elements/id-713e5264d8184289872acc5110f5cd9d.html"  target="element">

				  		<area shape="rect" coords="982,46,1382,227" href="../elements/id-5a5c950ba5db4f5894a5db548f6c6ef8.html"  target="element">
				  		<area shape="rect" coords="1126,261,1270,316" href="../elements/id-03d0d89ad78c4fc2823ddb3fa53aa252.html"  target="element">
				  		<area shape="rect" coords="1202,533,1347,594" href="../elements/id-fdc2b4ce25b84f09bd561305438ce369.html"  target="element">
				  		<area shape="rect" coords="1198,370,1343,438" href="../elements/id-d119212b6a0e4662b914f69a51a58a0f.html"  target="element">
				  		<area shape="rect" coords="1198,450,1343,518" href="../elements/id-ae030475663845e69ebc3d017c5ef80f.html"  target="element">
				  		<area shape="rect" coords="262,587,382,642" href="../elements/id-9d8e1cdba71847aabcaf48ffb46e671f.html"  target="element">
				  		<area shape="rect" coords="262,506,382,561" href="../elements/id-2691f1b021774610a5b7ae3979ac147d.html"  target="element">
				  		<area shape="rect" coords="262,670,382,725" href="../elements/id-7889dfb93e564eb6970468d034f489c2.html"  target="element">
				  		<area shape="rect" coords="65,587,185,642" href="../elements/id-ca8cd59fe79a438cb3f4d06c3efe5157.html"  target="element">
				  		<area shape="rect" coords="65,670,185,725" href="../elements/id-971ed0f38a464b818545bc83934f1c3f.html"  target="element">
				  		<area shape="rect" coords="65,506,185,561" href="../elements/id-49d32a225e9d484a9eb90b1ba99b5a9f.html"  target="element">
				  		<area shape="rect" coords="538,380,682,463" href="../elements/id-cf2329915f8a4ec9be8aaf0ca85d8bf6.html"  target="element">
				  		<area shape="rect" coords="538,478,682,561" href="../elements/id-ab1140f6862142e1916b46f721679e30.html"  target="element">
				  				<area shape="rect" coords="154,430,176,453" href="../views/id-a2c904ccaa4948c58d94e89b72f1185e.html"  target="view">
				  		    <!-- Other diagram objects -->

				  		<area shape="rect" coords="154,380,298,463" href="../elements/id-e943c25b9d41406d8e35e857313bc9b1.html"  target="element">
				  				<area shape="rect" coords="316,428,341,453" href="../views/id-6926f4ded50f44179019cf05694779c5.html"  target="view">
				  		    <!-- Other diagram objects -->

				  		<area shape="rect" coords="316,380,460,463" href="../elements/id-5bf416ee28144f8c96aa5ce72d0dd8a0.html"  target="element">
				  				<area shape="rect" coords="130,286,250,341" href="../views/id-4239fe4adb054c708d4bfa8ac14fd588.html"  target="view">
				  		    <!-- Other diagram objects -->

				  		<area shape="rect" coords="118,274,647,365" href="../elements/id-1793455fc19945eeb1cb8643c0203b30.html"  target="element">
				          <area shape="rect" coords="32,10,217,90" href="../objects/id-a78fe12ed0b54a37ac2d92675578ecfb.html" target="element" >
				  		<area shape="rect" coords="790,286,910,335" href="../elements/id-c9c0eed1424d4ebcb3296d00145a394d.html"  target="element">
				  				<area shape="rect" coords="679,971,812,997" href="../elements/id-17fc591d2d4a4edf8e5746aef5bf4456.html"  target="element">
				  				<area shape="rect" coords="679,941,812,967" href="../elements/id-c06c6b48ad0d4869ac43b0b98e4d6da2.html"  target="element">
				  				<area shape="rect" coords="648,1021,830,1067" href="../elements/id-e819c25f05cd4752a82a2cf5da2847bd.html"  target="element">
				  				<area shape="rect" coords="644,881,812,932" href="../elements/id-0d7d2eec251c4b109c4e0b140477a596.html"  target="element">

				  		<area shape="rect" coords="574,826,901,1087" href="../elements/id-7606a26e01d74e6cb85dab97c19820ea.html"  target="element">
				  		<area shape="rect" coords="497,190,617,245" href="../elements/id-2105bda354714293accc8d2b9b460bd2.html"  target="element">
				  		<area shape="rect" coords="437,98,557,153" href="../elements/id-3faf159b913d4db8a5e912614f34f9a5.html"  target="element">
				  				<area shape="rect" coords="22,898,142,953" href="../elements/id-2af08a22b0b94cc489f7f31919f5ed4c.html"  target="element">

				  		<area shape="rect" coords="10,826,146,972" href="../elements/id-3035e2633f1b4da3b603cb526bb89432.html"  target="element">
				  				<area shape="rect" coords="295,976,415,1002" href="../elements/id-7fbcbed068b749dcb915d85a954ecb4f.html"  target="element">
				  				<area shape="rect" coords="295,946,415,968" href="../elements/id-ec49c3c464554c07829f6556fb6891ef.html"  target="element">
				  				<area shape="rect" coords="261,1016,448,1072" href="../elements/id-736fabdfa16f49f0943c263eae7dec36.html"  target="element">
				  				<area shape="rect" coords="260,881,428,932" href="../elements/id-73566f81cb334e67969f2d5c808c37c8.html"  target="element">

				  		<area shape="rect" coords="190,826,517,1087" href="../elements/id-63942fb26a734459bd5e3eefa96ebdb2.html"  target="element">
				  		<area shape="rect" coords="328,190,448,245" href="../elements/id-72fd2ad4ea7049e0924c8accd5731eb5.html"  target="element">
				  		<area shape="rect" coords="225,98,345,153" href="../elements/id-9e3eee4e44834e128eb8c7703a382e9c.html"  target="element">
				  		<area shape="rect" coords="132,190,252,245" href="../elements/id-200660bdd02347d4afb80ef48a519d79.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

                    <!-- Analysis -->

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="analysis">
						<table class="table table-striped table-hover table-condensed" id="used-in-views">
							<thead>
								<tr><th colspan="2" class="i18n-used-in-views" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-viewpoint"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<table class="table table-striped table-hover table-condensed" id="model-relations">
							<thead>
								<tr><th colspan="4" class="i18n-model-relations" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
									<th class="i18n-source"></th>
									<th class="i18n-target"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-200660bdd02347d4afb80ef48a519d79.html" target="element"> Baseline (Plateau) </a> </td>
											    <td> <a href="../elements/id-200660bdd02347d4afb80ef48a519d79.html" target="element" class="i18n-elementtype-Plateau">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9e3eee4e44834e128eb8c7703a382e9c.html" target="element"> Create direct reporting (Gap) </a> </td>
											    <td> <a href="../elements/id-9e3eee4e44834e128eb8c7703a382e9c.html" target="element" class="i18n-elementtype-Gap">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-72fd2ad4ea7049e0924c8accd5731eb5.html" target="element"> New release (Plateau) </a> </td>
											    <td> <a href="../elements/id-72fd2ad4ea7049e0924c8accd5731eb5.html" target="element" class="i18n-elementtype-Plateau">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-63942fb26a734459bd5e3eefa96ebdb2.html" target="element"> Change Program (Work Package 3a) </a> </td>
											    <td> <a href="../elements/id-63942fb26a734459bd5e3eefa96ebdb2.html" target="element" class="i18n-elementtype-WorkPackage">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-73566f81cb334e67969f2d5c808c37c8.html" target="element"> DRR Digital business service (Deliverable) </a> </td>
													    <td> <a href="../elements/id-73566f81cb334e67969f2d5c808c37c8.html" target="element" class="i18n-elementtype-Deliverable">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-736fabdfa16f49f0943c263eae7dec36.html" target="element"> Next step Program Approved (Implementation Event) </a> </td>
													    <td> <a href="../elements/id-736fabdfa16f49f0943c263eae7dec36.html" target="element" class="i18n-elementtype-ImplementationEvent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ec49c3c464554c07829f6556fb6891ef.html" target="element"> Secure access </a> </td>
													    <td> <a href="../elements/id-ec49c3c464554c07829f6556fb6891ef.html" target="element" class="i18n-elementtype-Deliverable">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-7fbcbed068b749dcb915d85a954ecb4f.html" target="element"> VAT reporting </a> </td>
													    <td> <a href="../elements/id-7fbcbed068b749dcb915d85a954ecb4f.html" target="element" class="i18n-elementtype-Deliverable">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-3035e2633f1b4da3b603cb526bb89432.html" target="element"> Preparation (Work Package) </a> </td>
											    <td> <a href="../elements/id-3035e2633f1b4da3b603cb526bb89432.html" target="element" class="i18n-elementtype-WorkPackage">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-2af08a22b0b94cc489f7f31919f5ed4c.html" target="element"> Change Program Approved (Implementation Event) </a> </td>
													    <td> <a href="../elements/id-2af08a22b0b94cc489f7f31919f5ed4c.html" target="element" class="i18n-elementtype-ImplementationEvent">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-3faf159b913d4db8a5e912614f34f9a5.html" target="element"> Improve direct reporting (Gap) </a> </td>
											    <td> <a href="../elements/id-3faf159b913d4db8a5e912614f34f9a5.html" target="element" class="i18n-elementtype-Gap">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2105bda354714293accc8d2b9b460bd2.html" target="element"> Next release (Plateau) </a> </td>
											    <td> <a href="../elements/id-2105bda354714293accc8d2b9b460bd2.html" target="element" class="i18n-elementtype-Plateau">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7606a26e01d74e6cb85dab97c19820ea.html" target="element"> Change Program (Work Package 3b) </a> </td>
											    <td> <a href="../elements/id-7606a26e01d74e6cb85dab97c19820ea.html" target="element" class="i18n-elementtype-WorkPackage">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-0d7d2eec251c4b109c4e0b140477a596.html" target="element"> Cross-checking and Fraud detection Digital business service (Deliverable) </a> </td>
													    <td> <a href="../elements/id-0d7d2eec251c4b109c4e0b140477a596.html" target="element" class="i18n-elementtype-Deliverable">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e819c25f05cd4752a82a2cf5da2847bd.html" target="element"> Next step Program Approved... (etc) </a> </td>
													    <td> <a href="../elements/id-e819c25f05cd4752a82a2cf5da2847bd.html" target="element" class="i18n-elementtype-ImplementationEvent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c06c6b48ad0d4869ac43b0b98e4d6da2.html" target="element"> Cross-checking </a> </td>
													    <td> <a href="../elements/id-c06c6b48ad0d4869ac43b0b98e4d6da2.html" target="element" class="i18n-elementtype-Deliverable">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-17fc591d2d4a4edf8e5746aef5bf4456.html" target="element"> Fraud detection </a> </td>
													    <td> <a href="../elements/id-17fc591d2d4a4edf8e5746aef5bf4456.html" target="element" class="i18n-elementtype-Deliverable">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-c9c0eed1424d4ebcb3296d00145a394d.html" target="element"> Business capability </a> </td>
											    <td> <a href="../elements/id-c9c0eed1424d4ebcb3296d00145a394d.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-a78fe12ed0b54a37ac2d92675578ecfb.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-a78fe12ed0b54a37ac2d92675578ecfb.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-1793455fc19945eeb1cb8643c0203b30.html" target="element"> Digital business capability </a> </td>
											    <td> <a href="../elements/id-1793455fc19945eeb1cb8643c0203b30.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../views/id-4239fe4adb054c708d4bfa8ac14fd588.html" target="view"> 30 PAAF Capability planning view </a> </td>
													    <td> <a href="../views/id-4239fe4adb054c708d4bfa8ac14fd588.html" target="view" class="i18n-viewpoint-layered"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

											
											<tr>
											    <td> <a href="../elements/id-5bf416ee28144f8c96aa5ce72d0dd8a0.html" target="element"> Reporting of B2B intra-community e-invoices data to the EC </a> </td>
											    <td> <a href="../elements/id-5bf416ee28144f8c96aa5ce72d0dd8a0.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../views/id-6926f4ded50f44179019cf05694779c5.html" target="view"> National VIES-DRR Value Stream Example </a> </td>
													    <td> <a href="../views/id-6926f4ded50f44179019cf05694779c5.html" target="view" class="i18n-viewpoint-layered"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

											
											<tr>
											    <td> <a href="../elements/id-e943c25b9d41406d8e35e857313bc9b1.html" target="element"> Secure access to data of B2B intra-community e-invoices </a> </td>
											    <td> <a href="../elements/id-e943c25b9d41406d8e35e857313bc9b1.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../views/id-a2c904ccaa4948c58d94e89b72f1185e.html" target="view"> Secure Access to VIES Data Value Stream </a> </td>
													    <td> <a href="../views/id-a2c904ccaa4948c58d94e89b72f1185e.html" target="view" class="i18n-viewpoint-layered"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

											
											<tr>
											    <td> <a href="../elements/id-ab1140f6862142e1916b46f721679e30.html" target="element"> Fraud detection on intra-community e-invoices data </a> </td>
											    <td> <a href="../elements/id-ab1140f6862142e1916b46f721679e30.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-cf2329915f8a4ec9be8aaf0ca85d8bf6.html" target="element"> Cross checking of intra-community e-invoices data </a> </td>
											    <td> <a href="../elements/id-cf2329915f8a4ec9be8aaf0ca85d8bf6.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-49d32a225e9d484a9eb90b1ba99b5a9f.html" target="element"> Data Sharing </a> </td>
											    <td> <a href="../elements/id-49d32a225e9d484a9eb90b1ba99b5a9f.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-971ed0f38a464b818545bc83934f1c3f.html" target="element"> Digital Exchange </a> </td>
											    <td> <a href="../elements/id-971ed0f38a464b818545bc83934f1c3f.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ca8cd59fe79a438cb3f4d06c3efe5157.html" target="element"> Electronic Identification </a> </td>
											    <td> <a href="../elements/id-ca8cd59fe79a438cb3f4d06c3efe5157.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7889dfb93e564eb6970468d034f489c2.html" target="element"> Data Governance </a> </td>
											    <td> <a href="../elements/id-7889dfb93e564eb6970468d034f489c2.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2691f1b021774610a5b7ae3979ac147d.html" target="element"> Digital Invoicing </a> </td>
											    <td> <a href="../elements/id-2691f1b021774610a5b7ae3979ac147d.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9d8e1cdba71847aabcaf48ffb46e671f.html" target="element"> Case and Workflow Management </a> </td>
											    <td> <a href="../elements/id-9d8e1cdba71847aabcaf48ffb46e671f.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ae030475663845e69ebc3d017c5ef80f.html" target="element"> Create National VIES-DRR </a> </td>
											    <td> <a href="../elements/id-ae030475663845e69ebc3d017c5ef80f.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d119212b6a0e4662b914f69a51a58a0f.html" target="element"> Transpose adopted ViDA package </a> </td>
											    <td> <a href="../elements/id-d119212b6a0e4662b914f69a51a58a0f.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fdc2b4ce25b84f09bd561305438ce369.html" target="element"> Tax Fraud and Tax Evasion Public Policy </a> </td>
											    <td> <a href="../elements/id-fdc2b4ce25b84f09bd561305438ce369.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-03d0d89ad78c4fc2823ddb3fa53aa252.html" target="element"> Create / Change / Operate Value Creating Public Administration Service </a> </td>
											    <td> <a href="../elements/id-03d0d89ad78c4fc2823ddb3fa53aa252.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5a5c950ba5db4f5894a5db548f6c6ef8.html" target="element"> Outcomes </a> </td>
											    <td> <a href="../elements/id-5a5c950ba5db4f5894a5db548f6c6ef8.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-713e5264d8184289872acc5110f5cd9d.html" target="element"> EU ViDa regulation transposed to national legislation </a> </td>
													    <td> <a href="../elements/id-713e5264d8184289872acc5110f5cd9d.html" target="element" class="i18n-elementtype-Outcome">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-894b115ad90b4d25b06cef0666811fe1.html" target="element"> Special scheme for small enterprises (optional) </a> </td>
													    <td> <a href="../elements/id-894b115ad90b4d25b06cef0666811fe1.html" target="element" class="i18n-elementtype-Outcome">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-00f50cab26264e2aa089206413b98346.html" target="element"> Deemed supplier in platform economy (2027-01-01) </a> </td>
													    <td> <a href="../elements/id-00f50cab26264e2aa089206413b98346.html" target="element" class="i18n-elementtype-Outcome">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-faddabcd2b7542ac9d59815d460928b9.html" target="element"> Central VIES in production (2030-07-01) </a> </td>
													    <td> <a href="../elements/id-faddabcd2b7542ac9d59815d460928b9.html" target="element" class="i18n-elementtype-Outcome">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0f9d2d64450e4455bb099c07902a2df8.html" target="element"> Communication from MS to Central VIES established </a> </td>
													    <td> <a href="../elements/id-0f9d2d64450e4455bb099c07902a2df8.html" target="element" class="i18n-elementtype-Outcome">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-23b32875343b4e57b0cdda7bd7b9be0b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-23b32875343b4e57b0cdda7bd7b9be0b.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-200660bdd02347d4afb80ef48a519d79.html" target="element"> Baseline (Plateau) </a> </td>
																		<td> <a href="../elements/id-72fd2ad4ea7049e0924c8accd5731eb5.html" target="element"> New release (Plateau) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c9e5fd5ebb4949138a95a99b82106efe.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c9e5fd5ebb4949138a95a99b82106efe.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-200660bdd02347d4afb80ef48a519d79.html" target="element"> Baseline (Plateau) </a> </td>
																		<td> <a href="../elements/id-9e3eee4e44834e128eb8c7703a382e9c.html" target="element"> Create direct reporting (Gap) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-fdea00662a8a48318f13bb858a92619c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fdea00662a8a48318f13bb858a92619c.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9e3eee4e44834e128eb8c7703a382e9c.html" target="element"> Create direct reporting (Gap) </a> </td>
																		<td> <a href="../elements/id-72fd2ad4ea7049e0924c8accd5731eb5.html" target="element"> New release (Plateau) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-d8a07cd1525741c6bd8599f98ddd9b51.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d8a07cd1525741c6bd8599f98ddd9b51.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-72fd2ad4ea7049e0924c8accd5731eb5.html" target="element"> New release (Plateau) </a> </td>
																		<td> <a href="../elements/id-2105bda354714293accc8d2b9b460bd2.html" target="element"> Next release (Plateau) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1a8278da00ee4711b3ee41322519ba2d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1a8278da00ee4711b3ee41322519ba2d.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-72fd2ad4ea7049e0924c8accd5731eb5.html" target="element"> New release (Plateau) </a> </td>
																		<td> <a href="../elements/id-1793455fc19945eeb1cb8643c0203b30.html" target="element"> Digital business capability </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-307be52c7d994631ae6641f528223cd9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-307be52c7d994631ae6641f528223cd9.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-63942fb26a734459bd5e3eefa96ebdb2.html" target="element"> Change Program (Work Package 3a) </a> </td>
																		<td> <a href="../elements/id-ec49c3c464554c07829f6556fb6891ef.html" target="element"> Secure access </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-77f993f00e78407a8fa78abab88288a0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-77f993f00e78407a8fa78abab88288a0.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-63942fb26a734459bd5e3eefa96ebdb2.html" target="element"> Change Program (Work Package 3a) </a> </td>
																		<td> <a href="../elements/id-73566f81cb334e67969f2d5c808c37c8.html" target="element"> DRR Digital business service (Deliverable) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ef2143d87d5c4b2cb337a1f615f8c8cb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ef2143d87d5c4b2cb337a1f615f8c8cb.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-63942fb26a734459bd5e3eefa96ebdb2.html" target="element"> Change Program (Work Package 3a) </a> </td>
																		<td> <a href="../elements/id-7fbcbed068b749dcb915d85a954ecb4f.html" target="element"> VAT reporting </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5efdc56ba70b41c8a8edd6b0403c6de0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5efdc56ba70b41c8a8edd6b0403c6de0.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-63942fb26a734459bd5e3eefa96ebdb2.html" target="element"> Change Program (Work Package 3a) </a> </td>
																		<td> <a href="../elements/id-5bf416ee28144f8c96aa5ce72d0dd8a0.html" target="element"> Reporting of B2B intra-community e-invoices data to the EC </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-210a1af859cc49c2929745ffa419b607.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-210a1af859cc49c2929745ffa419b607.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-63942fb26a734459bd5e3eefa96ebdb2.html" target="element"> Change Program (Work Package 3a) </a> </td>
																		<td> <a href="../elements/id-e943c25b9d41406d8e35e857313bc9b1.html" target="element"> Secure access to data of B2B intra-community e-invoices </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-cf41f25923fb4e81966097cdaa00b4b4.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-cf41f25923fb4e81966097cdaa00b4b4.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-736fabdfa16f49f0943c263eae7dec36.html" target="element"> Next step Program Approved (Implementation Event) </a> </td>
																				<td> <a href="../elements/id-7606a26e01d74e6cb85dab97c19820ea.html" target="element"> Change Program (Work Package 3b) </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-0e9e3c7f4b714a08b277bf6a55601715.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0e9e3c7f4b714a08b277bf6a55601715.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-ec49c3c464554c07829f6556fb6891ef.html" target="element"> Secure access </a> </td>
																				<td> <a href="../elements/id-73566f81cb334e67969f2d5c808c37c8.html" target="element"> DRR Digital business service (Deliverable) </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-4a378d2f69a043679a9fcbdd025ced24.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-4a378d2f69a043679a9fcbdd025ced24.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-7fbcbed068b749dcb915d85a954ecb4f.html" target="element"> VAT reporting </a> </td>
																				<td> <a href="../elements/id-73566f81cb334e67969f2d5c808c37c8.html" target="element"> DRR Digital business service (Deliverable) </a> </td>
																			</tr>

											
																			<tr>
																				<td> <a href="../elements/id-5df587e8cb26487b85daef11627125ac.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5df587e8cb26487b85daef11627125ac.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2af08a22b0b94cc489f7f31919f5ed4c.html" target="element"> Change Program Approved (Implementation Event) </a> </td>
																				<td> <a href="../elements/id-63942fb26a734459bd5e3eefa96ebdb2.html" target="element"> Change Program (Work Package 3a) </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-cb56660f0926450fa9703249a72419a9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cb56660f0926450fa9703249a72419a9.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3faf159b913d4db8a5e912614f34f9a5.html" target="element"> Improve direct reporting (Gap) </a> </td>
																		<td> <a href="../elements/id-72fd2ad4ea7049e0924c8accd5731eb5.html" target="element"> New release (Plateau) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c480e7def84d491daca7e90de09aaa60.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c480e7def84d491daca7e90de09aaa60.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3faf159b913d4db8a5e912614f34f9a5.html" target="element"> Improve direct reporting (Gap) </a> </td>
																		<td> <a href="../elements/id-2105bda354714293accc8d2b9b460bd2.html" target="element"> Next release (Plateau) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-8123b36679db4a5b93ed32d914e18358.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8123b36679db4a5b93ed32d914e18358.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2105bda354714293accc8d2b9b460bd2.html" target="element"> Next release (Plateau) </a> </td>
																		<td> <a href="../elements/id-1793455fc19945eeb1cb8643c0203b30.html" target="element"> Digital business capability </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-0c4e132d781a4cefa40ffb9dabf8c5f7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0c4e132d781a4cefa40ffb9dabf8c5f7.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7606a26e01d74e6cb85dab97c19820ea.html" target="element"> Change Program (Work Package 3b) </a> </td>
																		<td> <a href="../elements/id-c06c6b48ad0d4869ac43b0b98e4d6da2.html" target="element"> Cross-checking </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-66f1301f4aa643648188ed2654cf425c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-66f1301f4aa643648188ed2654cf425c.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7606a26e01d74e6cb85dab97c19820ea.html" target="element"> Change Program (Work Package 3b) </a> </td>
																		<td> <a href="../elements/id-17fc591d2d4a4edf8e5746aef5bf4456.html" target="element"> Fraud detection </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2ed88b32756e449bb44593c67509f50f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2ed88b32756e449bb44593c67509f50f.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7606a26e01d74e6cb85dab97c19820ea.html" target="element"> Change Program (Work Package 3b) </a> </td>
																		<td> <a href="../elements/id-0d7d2eec251c4b109c4e0b140477a596.html" target="element"> Cross-checking and Fraud detection Digital business service (Deliverable) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ed8998a4f42d4068a6c3a0ceff99b80c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ed8998a4f42d4068a6c3a0ceff99b80c.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7606a26e01d74e6cb85dab97c19820ea.html" target="element"> Change Program (Work Package 3b) </a> </td>
																		<td> <a href="../elements/id-cf2329915f8a4ec9be8aaf0ca85d8bf6.html" target="element"> Cross checking of intra-community e-invoices data </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-06348f4ce4914d2c9e016f3b702b9c6d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-06348f4ce4914d2c9e016f3b702b9c6d.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7606a26e01d74e6cb85dab97c19820ea.html" target="element"> Change Program (Work Package 3b) </a> </td>
																		<td> <a href="../elements/id-ab1140f6862142e1916b46f721679e30.html" target="element"> Fraud detection on intra-community e-invoices data </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-58f7457e611a43a49bb94814b9d5fcb3.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-58f7457e611a43a49bb94814b9d5fcb3.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-c06c6b48ad0d4869ac43b0b98e4d6da2.html" target="element"> Cross-checking </a> </td>
																				<td> <a href="../elements/id-0d7d2eec251c4b109c4e0b140477a596.html" target="element"> Cross-checking and Fraud detection Digital business service (Deliverable) </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-333ff7330157407e8160695a30479739.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-333ff7330157407e8160695a30479739.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-17fc591d2d4a4edf8e5746aef5bf4456.html" target="element"> Fraud detection </a> </td>
																				<td> <a href="../elements/id-0d7d2eec251c4b109c4e0b140477a596.html" target="element"> Cross-checking and Fraud detection Digital business service (Deliverable) </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-ac8a60a9197b4bf48def6cfa599bb8d3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ac8a60a9197b4bf48def6cfa599bb8d3.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c9c0eed1424d4ebcb3296d00145a394d.html" target="element"> Business capability </a> </td>
																		<td> <a href="../elements/id-1793455fc19945eeb1cb8643c0203b30.html" target="element"> Digital business capability </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-53fc6c25f33c41bab557e2c0f061e637.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-53fc6c25f33c41bab557e2c0f061e637.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c9c0eed1424d4ebcb3296d00145a394d.html" target="element"> Business capability </a> </td>
																		<td> <a href="../elements/id-03d0d89ad78c4fc2823ddb3fa53aa252.html" target="element"> Create / Change / Operate Value Creating Public Administration Service </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											
																	<tr>
																		<td> <a href="../elements/id-380604b8659b459fa2ca48f59b3e7e21.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-380604b8659b459fa2ca48f59b3e7e21.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5bf416ee28144f8c96aa5ce72d0dd8a0.html" target="element"> Reporting of B2B intra-community e-invoices data to the EC </a> </td>
																		<td> <a href="../elements/id-1793455fc19945eeb1cb8643c0203b30.html" target="element"> Digital business capability </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											
																	<tr>
																		<td> <a href="../elements/id-5a5d8660acd34377b64fb7577306046a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5a5d8660acd34377b64fb7577306046a.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e943c25b9d41406d8e35e857313bc9b1.html" target="element"> Secure access to data of B2B intra-community e-invoices </a> </td>
																		<td> <a href="../elements/id-1793455fc19945eeb1cb8643c0203b30.html" target="element"> Digital business capability </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8ccb6f336c694b06ba8460e777d26de8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8ccb6f336c694b06ba8460e777d26de8.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e943c25b9d41406d8e35e857313bc9b1.html" target="element"> Secure access to data of B2B intra-community e-invoices </a> </td>
																		<td> <a href="../elements/id-5bf416ee28144f8c96aa5ce72d0dd8a0.html" target="element"> Reporting of B2B intra-community e-invoices data to the EC </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3cdf65db921e4b839f83b5801d1a7a14.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3cdf65db921e4b839f83b5801d1a7a14.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e943c25b9d41406d8e35e857313bc9b1.html" target="element"> Secure access to data of B2B intra-community e-invoices </a> </td>
																		<td> <a href="../elements/id-49d32a225e9d484a9eb90b1ba99b5a9f.html" target="element"> Data Sharing </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a0eea3515b584b0ca61c13a73671df0d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a0eea3515b584b0ca61c13a73671df0d.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e943c25b9d41406d8e35e857313bc9b1.html" target="element"> Secure access to data of B2B intra-community e-invoices </a> </td>
																		<td> <a href="../elements/id-971ed0f38a464b818545bc83934f1c3f.html" target="element"> Digital Exchange </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5b5e5391f63e4b1a9c8f15bd3cb9f7ba.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5b5e5391f63e4b1a9c8f15bd3cb9f7ba.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e943c25b9d41406d8e35e857313bc9b1.html" target="element"> Secure access to data of B2B intra-community e-invoices </a> </td>
																		<td> <a href="../elements/id-ca8cd59fe79a438cb3f4d06c3efe5157.html" target="element"> Electronic Identification </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											
																	<tr>
																		<td> <a href="../elements/id-68085b90542f430e928109604eedf31a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-68085b90542f430e928109604eedf31a.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ab1140f6862142e1916b46f721679e30.html" target="element"> Fraud detection on intra-community e-invoices data </a> </td>
																		<td> <a href="../elements/id-5bf416ee28144f8c96aa5ce72d0dd8a0.html" target="element"> Reporting of B2B intra-community e-invoices data to the EC </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-306b435e68384c439d0a574a8b3a1fb0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-306b435e68384c439d0a574a8b3a1fb0.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cf2329915f8a4ec9be8aaf0ca85d8bf6.html" target="element"> Cross checking of intra-community e-invoices data </a> </td>
																		<td> <a href="../elements/id-5bf416ee28144f8c96aa5ce72d0dd8a0.html" target="element"> Reporting of B2B intra-community e-invoices data to the EC </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-cefdcf6c08ec4290895dea5b78fbd830.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cefdcf6c08ec4290895dea5b78fbd830.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7889dfb93e564eb6970468d034f489c2.html" target="element"> Data Governance </a> </td>
																		<td> <a href="../elements/id-9d8e1cdba71847aabcaf48ffb46e671f.html" target="element"> Case and Workflow Management </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-161776b3473c4c42b863ac6cb7a6ad4c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-161776b3473c4c42b863ac6cb7a6ad4c.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2691f1b021774610a5b7ae3979ac147d.html" target="element"> Digital Invoicing </a> </td>
																		<td> <a href="../elements/id-5bf416ee28144f8c96aa5ce72d0dd8a0.html" target="element"> Reporting of B2B intra-community e-invoices data to the EC </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f6f56edbbf564dae8a0a435d826ace0f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f6f56edbbf564dae8a0a435d826ace0f.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9d8e1cdba71847aabcaf48ffb46e671f.html" target="element"> Case and Workflow Management </a> </td>
																		<td> <a href="../elements/id-2691f1b021774610a5b7ae3979ac147d.html" target="element"> Digital Invoicing </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-bef25834e1d24cc7b479a44dd1509acf.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bef25834e1d24cc7b479a44dd1509acf.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-03d0d89ad78c4fc2823ddb3fa53aa252.html" target="element"> Create / Change / Operate Value Creating Public Administration Service </a> </td>
																		<td> <a href="../elements/id-ae030475663845e69ebc3d017c5ef80f.html" target="element"> Create National VIES-DRR </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-fc93240ed3a84210b7eceb144a9a7d91.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fc93240ed3a84210b7eceb144a9a7d91.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-03d0d89ad78c4fc2823ddb3fa53aa252.html" target="element"> Create / Change / Operate Value Creating Public Administration Service </a> </td>
																		<td> <a href="../elements/id-d119212b6a0e4662b914f69a51a58a0f.html" target="element"> Transpose adopted ViDA package </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9493367627064df9901ce0600b4dbb2a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9493367627064df9901ce0600b4dbb2a.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-03d0d89ad78c4fc2823ddb3fa53aa252.html" target="element"> Create / Change / Operate Value Creating Public Administration Service </a> </td>
																		<td> <a href="../elements/id-fdc2b4ce25b84f09bd561305438ce369.html" target="element"> Tax Fraud and Tax Evasion Public Policy </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-116894b1bfd748cb8c83dfdf23995877.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-116894b1bfd748cb8c83dfdf23995877.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-03d0d89ad78c4fc2823ddb3fa53aa252.html" target="element"> Create / Change / Operate Value Creating Public Administration Service </a> </td>
																		<td> <a href="../elements/id-5a5c950ba5db4f5894a5db548f6c6ef8.html" target="element"> Outcomes </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-602192a506114ea79bfef212c47b94da.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-602192a506114ea79bfef212c47b94da.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5a5c950ba5db4f5894a5db548f6c6ef8.html" target="element"> Outcomes </a> </td>
																		<td> <a href="../elements/id-00f50cab26264e2aa089206413b98346.html" target="element"> Deemed supplier in platform economy (2027-01-01) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9a7a1eac150a44efad5730a7770949cb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9a7a1eac150a44efad5730a7770949cb.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5a5c950ba5db4f5894a5db548f6c6ef8.html" target="element"> Outcomes </a> </td>
																		<td> <a href="../elements/id-894b115ad90b4d25b06cef0666811fe1.html" target="element"> Special scheme for small enterprises (optional) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-36f997625c6d43949c6197679222a969.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-36f997625c6d43949c6197679222a969.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5a5c950ba5db4f5894a5db548f6c6ef8.html" target="element"> Outcomes </a> </td>
																		<td> <a href="../elements/id-0f9d2d64450e4455bb099c07902a2df8.html" target="element"> Communication from MS to Central VIES established </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ef12f23a690049b3a6305d687cdc1ada.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ef12f23a690049b3a6305d687cdc1ada.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5a5c950ba5db4f5894a5db548f6c6ef8.html" target="element"> Outcomes </a> </td>
																		<td> <a href="../elements/id-713e5264d8184289872acc5110f5cd9d.html" target="element"> EU ViDa regulation transposed to national legislation </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2bad5ef24e394b8584478256f292a0a7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2bad5ef24e394b8584478256f292a0a7.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5a5c950ba5db4f5894a5db548f6c6ef8.html" target="element"> Outcomes </a> </td>
																		<td> <a href="../elements/id-faddabcd2b7542ac9d59815d460928b9.html" target="element"> Central VIES in production (2030-07-01) </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>