<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>SV-Forms Structure [Traceability]</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>SV-Forms Structure [Traceability]</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-359a7e4682df4d81b7be8f637be58668.png" alt="SV-Forms Structure [Traceability]" usemap="#id-359a7e4682df4d81b7be8f637be58668map"/>
			   <map name="id-359a7e4682df4d81b7be8f637be58668map">
				  		<area shape="rect" coords="458,142,642,222" href="../elements/id-4e640119400d4430802ea067f8f135a8.html"  target="element">
				  		<area shape="rect" coords="458,238,642,318" href="../elements/id-8985d31e9d0e46229c71ebd461030bc1.html"  target="element">
				  		<area shape="rect" coords="458,46,642,126" href="../elements/id-0520997963534c80a023cc72f877d790.html"  target="element">
				  				<area shape="rect" coords="58,58,258,138" href="../elements/id-4c71ef357a4a4eb3bc440b5b581e759a.html"  target="element">

				  		<area shape="rect" coords="10,10,310,155" href="../elements/id-6059f402d4834179bc870eb89f94be82.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

                    <!-- Analysis -->

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="analysis">
						<table class="table table-striped table-hover table-condensed" id="used-in-views">
							<thead>
								<tr><th colspan="2" class="i18n-used-in-views" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-viewpoint"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<table class="table table-striped table-hover table-condensed" id="model-relations">
							<thead>
								<tr><th colspan="4" class="i18n-model-relations" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
									<th class="i18n-source"></th>
									<th class="i18n-target"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-6059f402d4834179bc870eb89f94be82.html" target="element"> VIDA Forms Structure Catalogue </a> </td>
											    <td> <a href="../elements/id-6059f402d4834179bc870eb89f94be82.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-4c71ef357a4a4eb3bc440b5b581e759a.html" target="element"> Manual DRR Submission Form </a> </td>
													    <td> <a href="../elements/id-4c71ef357a4a4eb3bc440b5b581e759a.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-0520997963534c80a023cc72f877d790.html" target="element"> Message </a> </td>
											    <td> <a href="../elements/id-0520997963534c80a023cc72f877d790.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8985d31e9d0e46229c71ebd461030bc1.html" target="element"> Transaction information </a> </td>
											    <td> <a href="../elements/id-8985d31e9d0e46229c71ebd461030bc1.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4e640119400d4430802ea067f8f135a8.html" target="element"> Supplier and customer data </a> </td>
											    <td> <a href="../elements/id-4e640119400d4430802ea067f8f135a8.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-20d8605ecbd94809972f28873cd8ed3b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-20d8605ecbd94809972f28873cd8ed3b.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6059f402d4834179bc870eb89f94be82.html" target="element"> VIDA Forms Structure Catalogue </a> </td>
																		<td> <a href="../elements/id-4c71ef357a4a4eb3bc440b5b581e759a.html" target="element"> Manual DRR Submission Form </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-b117b8bc736f431abd43a06a42ef2f73.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b117b8bc736f431abd43a06a42ef2f73.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-4c71ef357a4a4eb3bc440b5b581e759a.html" target="element"> Manual DRR Submission Form </a> </td>
																				<td> <a href="../elements/id-0520997963534c80a023cc72f877d790.html" target="element"> Message </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-10e30156ab714e02bb239da3e6f051f9.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-10e30156ab714e02bb239da3e6f051f9.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-4c71ef357a4a4eb3bc440b5b581e759a.html" target="element"> Manual DRR Submission Form </a> </td>
																				<td> <a href="../elements/id-4e640119400d4430802ea067f8f135a8.html" target="element"> Supplier and customer data </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-43dd6687795d4eb9a5bbfc7c311bde91.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-43dd6687795d4eb9a5bbfc7c311bde91.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-4c71ef357a4a4eb3bc440b5b581e759a.html" target="element"> Manual DRR Submission Form </a> </td>
																				<td> <a href="../elements/id-8985d31e9d0e46229c71ebd461030bc1.html" target="element"> Transaction information </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>