<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Risk analysis view</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Risk analysis view</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-layered"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_layered" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-4c8945802812438b810cc9f90e82e33b.png" alt="Risk analysis view" usemap="#id-4c8945802812438b810cc9f90e82e33bmap"/>
			   <map name="id-4c8945802812438b810cc9f90e82e33bmap">
				          <area shape="rect" coords="10,10,1178,227" href="../objects/id-9913ad33ab3d4bc5a3ecfd989ca600a0.html" target="element" >
				          <area shape="rect" coords="690,886,875,966" href="../objects/id-d21e0bba95fa4d7cb78c8f994c3d2e01.html" target="element" >
				          <area shape="rect" coords="948,558,1171,806" href="../objects/id-abff086e5a9e403580931cf7703a7980.html" target="element" >
				          <area shape="rect" coords="690,558,943,862" href="../objects/id-45f928608d6f47f999186b10f3d9879c.html" target="element" >
				  		<area shape="rect" coords="690,465,810,532" href="../elements/id-eabb5a3b294a4a80a12935e5107e2627.html"  target="element">
				  		<area shape="rect" coords="690,381,810,448" href="../elements/id-f8c52fa35fdc48c99c97aae851610e68.html"  target="element">
				  		<area shape="rect" coords="690,299,810,366" href="../elements/id-af37e69ca5de470080f0e2c4683c6580.html"  target="element">
				          <area shape="rect" coords="834,321,1056,448" href="../objects/id-a2feadd3fa034d9d91c3b84e68515834.html" target="element" >
				          <area shape="rect" coords="834,494,965,532" href="../objects/id-124f1f9761cc4a77b9a68a1a1ee3295f.html" target="element" >
				          <area shape="rect" coords="834,453,965,491" href="../objects/id-eddce1bd9a5247f9a50fa309d2893ecd.html" target="element" >
				  		<area shape="rect" coords="338,657,473,685" href="../elements/id-50f9ec8427174a2e8c7e86eec9ceae94.html"  target="element">
				  		<area shape="rect" coords="338,582,473,610" href="../elements/id-406a6ca4a2fb4911946326482b3f46e1.html"  target="element">
				  		<area shape="rect" coords="338,546,473,574" href="../elements/id-ae2158733eb74426b1ffc70a747659ca.html"  target="element">
				  		<area shape="rect" coords="247,802,464,833" href="../elements/id-281e4294b29245288bd7cc1fa9a5e132.html"  target="element">
				  		<area shape="rect" coords="247,761,465,790" href="../elements/id-164ba05e828046669b1e5363dfdbb39b.html"  target="element">
				  		<area shape="rect" coords="246,723,466,749" href="../elements/id-098b485da659497296889f048524074a.html"  target="element">
				  		<area shape="rect" coords="498,477,618,532" href="../elements/id-89f88036b2ab435d87bfaa5e0b551164.html"  target="element">
				  		<area shape="rect" coords="354,381,474,436" href="../elements/id-20e87dc81b844eb6a7a8aa6ecd651cc6.html"  target="element">
				  		<area shape="rect" coords="507,381,627,436" href="../elements/id-6212d4f7c2ec473b913ca2b4323d027d.html"  target="element">
				  		<area shape="rect" coords="507,299,627,354" href="../elements/id-a9bc33ff35a743b483749d8d4a05033a.html"  target="element">
				  		<area shape="rect" coords="321,477,441,532" href="../elements/id-4cd63c2831a14963be5bd58482c31c01.html"  target="element">
				  		<area shape="rect" coords="162,573,282,628" href="../elements/id-a3eb0bf6632349eaa0a2630b64be5a8a.html"  target="element">
				  		<area shape="rect" coords="162,477,282,532" href="../elements/id-395ffb025c084f9ba7ea67cb9bdac061.html"  target="element">
				  		<area shape="rect" coords="10,657,130,742" href="../elements/id-b42585c8767749e1946dde8fae130265.html"  target="element">
				  		<area shape="rect" coords="10,765,130,820" href="../elements/id-0b8d5fa009cb4269b010902308b8d35d.html"  target="element">
				  		<area shape="rect" coords="10,573,130,628" href="../elements/id-cf131d1b681641cab98d5fd793e5c85d.html"  target="element">
				  		<area shape="rect" coords="10,477,130,532" href="../elements/id-0c92408f27f74135836b2bb21f00ca7e.html"  target="element">
				  		<area shape="rect" coords="10,381,130,436" href="../elements/id-c202b720715149cba7a80315dbd85984.html"  target="element">
				  		<area shape="rect" coords="10,286,130,341" href="../elements/id-e8bd94a771604918bbfe4500b3ad4fd9.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

                    <!-- Analysis -->

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Description: This view contains an number of elements that come into play when dealing with a risk, or (as a special case of a risk) a security threat.
The elements model the treatment of one single risk or security threat. The approach is based upon publications from The Open Group and a design pattern (references: see below).

The comments on the right of this view suggest some valuable resources and an approach to inventorise and handle risks and security threats at two levels:
- At the level of the Focal Public Administration
- At the level of each service or asset.


Sources:
https://pubs.opengroup.org/togaf-standard/integrating-risk-and-security/integrating-risk-and-security_5.html#_Toc95208582
https://publications.opengroup.org/w172

https://www.hosiaisluoma.fi/blog/archimate-examples/ (Risk &amp; Security view)


</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td></td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="analysis">
						<table class="table table-striped table-hover table-condensed" id="used-in-views">
							<thead>
								<tr><th colspan="2" class="i18n-used-in-views" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-viewpoint"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<table class="table table-striped table-hover table-condensed" id="model-relations">
							<thead>
								<tr><th colspan="4" class="i18n-model-relations" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
									<th class="i18n-source"></th>
									<th class="i18n-target"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-e8bd94a771604918bbfe4500b3ad4fd9.html" target="element"> Risk / Security Threat </a> </td>
											    <td> <a href="../elements/id-e8bd94a771604918bbfe4500b3ad4fd9.html" target="element" class="i18n-elementtype-Driver">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c202b720715149cba7a80315dbd85984.html" target="element"> Risk Assessment </a> </td>
											    <td> <a href="../elements/id-c202b720715149cba7a80315dbd85984.html" target="element" class="i18n-elementtype-Assessment">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0c92408f27f74135836b2bb21f00ca7e.html" target="element"> Risk Control Objective </a> </td>
											    <td> <a href="../elements/id-0c92408f27f74135836b2bb21f00ca7e.html" target="element" class="i18n-elementtype-Goal">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-cf131d1b681641cab98d5fd793e5c85d.html" target="element"> Control Measure Requirement </a> </td>
											    <td> <a href="../elements/id-cf131d1b681641cab98d5fd793e5c85d.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0b8d5fa009cb4269b010902308b8d35d.html" target="element"> Asset at risk </a> </td>
											    <td> <a href="../elements/id-0b8d5fa009cb4269b010902308b8d35d.html" target="element" class="i18n-elementtype-Resource">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b42585c8767749e1946dde8fae130265.html" target="element"> Implement Control Measure </a> </td>
											    <td> <a href="../elements/id-b42585c8767749e1946dde8fae130265.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-395ffb025c084f9ba7ea67cb9bdac061.html" target="element"> Security Control Objective </a> </td>
											    <td> <a href="../elements/id-395ffb025c084f9ba7ea67cb9bdac061.html" target="element" class="i18n-elementtype-Goal">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a3eb0bf6632349eaa0a2630b64be5a8a.html" target="element"> Information Security Requirement </a> </td>
											    <td> <a href="../elements/id-a3eb0bf6632349eaa0a2630b64be5a8a.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4cd63c2831a14963be5bd58482c31c01.html" target="element"> Information Security Principle </a> </td>
											    <td> <a href="../elements/id-4cd63c2831a14963be5bd58482c31c01.html" target="element" class="i18n-elementtype-Principle">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a9bc33ff35a743b483749d8d4a05033a.html" target="element"> Threat Agent </a> </td>
											    <td> <a href="../elements/id-a9bc33ff35a743b483749d8d4a05033a.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6212d4f7c2ec473b913ca2b4323d027d.html" target="element"> Threat Event </a> </td>
											    <td> <a href="../elements/id-6212d4f7c2ec473b913ca2b4323d027d.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-20e87dc81b844eb6a7a8aa6ecd651cc6.html" target="element"> Loss Event </a> </td>
											    <td> <a href="../elements/id-20e87dc81b844eb6a7a8aa6ecd651cc6.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-89f88036b2ab435d87bfaa5e0b551164.html" target="element"> Vulnerability </a> </td>
											    <td> <a href="../elements/id-89f88036b2ab435d87bfaa5e0b551164.html" target="element" class="i18n-elementtype-Assessment">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-098b485da659497296889f048524074a.html" target="element"> Implemented Control Measure </a> </td>
											    <td> <a href="../elements/id-098b485da659497296889f048524074a.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-164ba05e828046669b1e5363dfdbb39b.html" target="element"> Implemented Control Measure </a> </td>
											    <td> <a href="../elements/id-164ba05e828046669b1e5363dfdbb39b.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-281e4294b29245288bd7cc1fa9a5e132.html" target="element"> Implemented Control Measure </a> </td>
											    <td> <a href="../elements/id-281e4294b29245288bd7cc1fa9a5e132.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ae2158733eb74426b1ffc70a747659ca.html" target="element"> Confidentiality </a> </td>
											    <td> <a href="../elements/id-ae2158733eb74426b1ffc70a747659ca.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-406a6ca4a2fb4911946326482b3f46e1.html" target="element"> Integrity </a> </td>
											    <td> <a href="../elements/id-406a6ca4a2fb4911946326482b3f46e1.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-50f9ec8427174a2e8c7e86eec9ceae94.html" target="element"> Non-repudiation </a> </td>
											    <td> <a href="../elements/id-50f9ec8427174a2e8c7e86eec9ceae94.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-eddce1bd9a5247f9a50fa309d2893ecd.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-eddce1bd9a5247f9a50fa309d2893ecd.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-124f1f9761cc4a77b9a68a1a1ee3295f.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-124f1f9761cc4a77b9a68a1a1ee3295f.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-a2feadd3fa034d9d91c3b84e68515834.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-a2feadd3fa034d9d91c3b84e68515834.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-af37e69ca5de470080f0e2c4683c6580.html" target="element"> General Data Protection Regulation (GDPR) </a> </td>
											    <td> <a href="../elements/id-af37e69ca5de470080f0e2c4683c6580.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f8c52fa35fdc48c99c97aae851610e68.html" target="element"> EU law on cyber security </a> </td>
											    <td> <a href="../elements/id-f8c52fa35fdc48c99c97aae851610e68.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-eabb5a3b294a4a80a12935e5107e2627.html" target="element"> National guidelines on Information Security </a> </td>
											    <td> <a href="../elements/id-eabb5a3b294a4a80a12935e5107e2627.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-45f928608d6f47f999186b10f3d9879c.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-45f928608d6f47f999186b10f3d9879c.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-abff086e5a9e403580931cf7703a7980.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-abff086e5a9e403580931cf7703a7980.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-d21e0bba95fa4d7cb78c8f994c3d2e01.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-d21e0bba95fa4d7cb78c8f994c3d2e01.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-9913ad33ab3d4bc5a3ecfd989ca600a0.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-9913ad33ab3d4bc5a3ecfd989ca600a0.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-4fcd7f5fb8414460b9d9c955492edc58.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4fcd7f5fb8414460b9d9c955492edc58.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e8bd94a771604918bbfe4500b3ad4fd9.html" target="element"> Risk / Security Threat </a> </td>
																		<td> <a href="../elements/id-c202b720715149cba7a80315dbd85984.html" target="element"> Risk Assessment </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-aa68d0ed634141f7806b622754c1b774.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-aa68d0ed634141f7806b622754c1b774.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c202b720715149cba7a80315dbd85984.html" target="element"> Risk Assessment </a> </td>
																		<td> <a href="../elements/id-0c92408f27f74135836b2bb21f00ca7e.html" target="element"> Risk Control Objective </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-431f17b026e14c469820039a95895bba.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-431f17b026e14c469820039a95895bba.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cf131d1b681641cab98d5fd793e5c85d.html" target="element"> Control Measure Requirement </a> </td>
																		<td> <a href="../elements/id-0c92408f27f74135836b2bb21f00ca7e.html" target="element"> Risk Control Objective </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-17c76223811846ebaf9c4b612d1ffd21.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-17c76223811846ebaf9c4b612d1ffd21.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0b8d5fa009cb4269b010902308b8d35d.html" target="element"> Asset at risk </a> </td>
																		<td> <a href="../elements/id-281e4294b29245288bd7cc1fa9a5e132.html" target="element"> Implemented Control Measure </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-af73300d9cf6470aa152589ded5edbd7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-af73300d9cf6470aa152589ded5edbd7.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0b8d5fa009cb4269b010902308b8d35d.html" target="element"> Asset at risk </a> </td>
																		<td> <a href="../elements/id-b42585c8767749e1946dde8fae130265.html" target="element"> Implement Control Measure </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-22dbda10c4694498afa2de43a362b71c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-22dbda10c4694498afa2de43a362b71c.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0b8d5fa009cb4269b010902308b8d35d.html" target="element"> Asset at risk </a> </td>
																		<td> <a href="../elements/id-098b485da659497296889f048524074a.html" target="element"> Implemented Control Measure </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a6c919a7be364de0828b4567c1bf75f8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a6c919a7be364de0828b4567c1bf75f8.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0b8d5fa009cb4269b010902308b8d35d.html" target="element"> Asset at risk </a> </td>
																		<td> <a href="../elements/id-89f88036b2ab435d87bfaa5e0b551164.html" target="element"> Vulnerability </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-50724f1fc7ee4ef1802438b0842f9279.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-50724f1fc7ee4ef1802438b0842f9279.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0b8d5fa009cb4269b010902308b8d35d.html" target="element"> Asset at risk </a> </td>
																		<td> <a href="../elements/id-164ba05e828046669b1e5363dfdbb39b.html" target="element"> Implemented Control Measure </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-c0cbbecf63244f3e86ccc07e7488c6b8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c0cbbecf63244f3e86ccc07e7488c6b8.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b42585c8767749e1946dde8fae130265.html" target="element"> Implement Control Measure </a> </td>
																		<td> <a href="../elements/id-a3eb0bf6632349eaa0a2630b64be5a8a.html" target="element"> Information Security Requirement </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c66fd5cb17c7466381e0d82641d4ef30.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c66fd5cb17c7466381e0d82641d4ef30.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b42585c8767749e1946dde8fae130265.html" target="element"> Implement Control Measure </a> </td>
																		<td> <a href="../elements/id-cf131d1b681641cab98d5fd793e5c85d.html" target="element"> Control Measure Requirement </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-dcd1922a0d3a4d138cfac8ef84f2ac67.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dcd1922a0d3a4d138cfac8ef84f2ac67.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-395ffb025c084f9ba7ea67cb9bdac061.html" target="element"> Security Control Objective </a> </td>
																		<td> <a href="../elements/id-0c92408f27f74135836b2bb21f00ca7e.html" target="element"> Risk Control Objective </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e0ff8dc76164470ba0181cbfcaf828dc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e0ff8dc76164470ba0181cbfcaf828dc.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a3eb0bf6632349eaa0a2630b64be5a8a.html" target="element"> Information Security Requirement </a> </td>
																		<td> <a href="../elements/id-cf131d1b681641cab98d5fd793e5c85d.html" target="element"> Control Measure Requirement </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-33559455ad2a4e329c570024f8c0a7b4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-33559455ad2a4e329c570024f8c0a7b4.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a3eb0bf6632349eaa0a2630b64be5a8a.html" target="element"> Information Security Requirement </a> </td>
																		<td> <a href="../elements/id-395ffb025c084f9ba7ea67cb9bdac061.html" target="element"> Security Control Objective </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f551352e1bbb478bb0fd6b32af3f5826.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f551352e1bbb478bb0fd6b32af3f5826.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a3eb0bf6632349eaa0a2630b64be5a8a.html" target="element"> Information Security Requirement </a> </td>
																		<td> <a href="../elements/id-4cd63c2831a14963be5bd58482c31c01.html" target="element"> Information Security Principle </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-6aa9a705e8d045069c136c8a82ecbbdb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6aa9a705e8d045069c136c8a82ecbbdb.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4cd63c2831a14963be5bd58482c31c01.html" target="element"> Information Security Principle </a> </td>
																		<td> <a href="../elements/id-395ffb025c084f9ba7ea67cb9bdac061.html" target="element"> Security Control Objective </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e315cd6ef76f46aebcae4620d8cff86b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e315cd6ef76f46aebcae4620d8cff86b.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a9bc33ff35a743b483749d8d4a05033a.html" target="element"> Threat Agent </a> </td>
																		<td> <a href="../elements/id-6212d4f7c2ec473b913ca2b4323d027d.html" target="element"> Threat Event </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-3781c6abf668459a9db298f24fc92f22.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3781c6abf668459a9db298f24fc92f22.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6212d4f7c2ec473b913ca2b4323d027d.html" target="element"> Threat Event </a> </td>
																		<td> <a href="../elements/id-20e87dc81b844eb6a7a8aa6ecd651cc6.html" target="element"> Loss Event </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-0c5a11491a4740a5a86378da6540df86.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0c5a11491a4740a5a86378da6540df86.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-20e87dc81b844eb6a7a8aa6ecd651cc6.html" target="element"> Loss Event </a> </td>
																		<td> <a href="../elements/id-c202b720715149cba7a80315dbd85984.html" target="element"> Risk Assessment </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-5cc8836b5b4249ac9601988fb45d240d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5cc8836b5b4249ac9601988fb45d240d.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-89f88036b2ab435d87bfaa5e0b551164.html" target="element"> Vulnerability </a> </td>
																		<td> <a href="../elements/id-6212d4f7c2ec473b913ca2b4323d027d.html" target="element"> Threat Event </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6da2451e3a8c495ba442e81740cc6044.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6da2451e3a8c495ba442e81740cc6044.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-89f88036b2ab435d87bfaa5e0b551164.html" target="element"> Vulnerability </a> </td>
																		<td> <a href="../elements/id-20e87dc81b844eb6a7a8aa6ecd651cc6.html" target="element"> Loss Event </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e5691029ae5d4920aab33000107d73b4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e5691029ae5d4920aab33000107d73b4.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-098b485da659497296889f048524074a.html" target="element"> Implemented Control Measure </a> </td>
																		<td> <a href="../elements/id-b42585c8767749e1946dde8fae130265.html" target="element"> Implement Control Measure </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-95f11661a77840a6964bc52895dfd5eb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-95f11661a77840a6964bc52895dfd5eb.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-098b485da659497296889f048524074a.html" target="element"> Implemented Control Measure </a> </td>
																		<td> <a href="../elements/id-89f88036b2ab435d87bfaa5e0b551164.html" target="element"> Vulnerability </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-19d442dae34c4c6b833b1db23204b61c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-19d442dae34c4c6b833b1db23204b61c.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-164ba05e828046669b1e5363dfdbb39b.html" target="element"> Implemented Control Measure </a> </td>
																		<td> <a href="../elements/id-89f88036b2ab435d87bfaa5e0b551164.html" target="element"> Vulnerability </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9607657c6bb648999e9738f80462f87b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9607657c6bb648999e9738f80462f87b.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-164ba05e828046669b1e5363dfdbb39b.html" target="element"> Implemented Control Measure </a> </td>
																		<td> <a href="../elements/id-b42585c8767749e1946dde8fae130265.html" target="element"> Implement Control Measure </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-cef10a1788d147efa94bcdf64634d16b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cef10a1788d147efa94bcdf64634d16b.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-281e4294b29245288bd7cc1fa9a5e132.html" target="element"> Implemented Control Measure </a> </td>
																		<td> <a href="../elements/id-b42585c8767749e1946dde8fae130265.html" target="element"> Implement Control Measure </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c10f7fdb180e4a14b919a2cfa1f14527.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c10f7fdb180e4a14b919a2cfa1f14527.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-281e4294b29245288bd7cc1fa9a5e132.html" target="element"> Implemented Control Measure </a> </td>
																		<td> <a href="../elements/id-89f88036b2ab435d87bfaa5e0b551164.html" target="element"> Vulnerability </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f2d95cc4dfd3425091285e5406c543ea.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f2d95cc4dfd3425091285e5406c543ea.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ae2158733eb74426b1ffc70a747659ca.html" target="element"> Confidentiality </a> </td>
																		<td> <a href="../elements/id-a3eb0bf6632349eaa0a2630b64be5a8a.html" target="element"> Information Security Requirement </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-16abfa33cda645488e48257669c18a11.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-16abfa33cda645488e48257669c18a11.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-406a6ca4a2fb4911946326482b3f46e1.html" target="element"> Integrity </a> </td>
																		<td> <a href="../elements/id-a3eb0bf6632349eaa0a2630b64be5a8a.html" target="element"> Information Security Requirement </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-a7691719534441cca3f5336af6240578.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a7691719534441cca3f5336af6240578.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-50f9ec8427174a2e8c7e86eec9ceae94.html" target="element"> Non-repudiation </a> </td>
																		<td> <a href="../elements/id-a3eb0bf6632349eaa0a2630b64be5a8a.html" target="element"> Information Security Requirement </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>