<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>TVA-Data Exchange Enablers [Traceability]</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>TVA-Data Exchange Enablers [Traceability]</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-8b31d67863654e5fb1dd2e783870f761.png" alt="TVA-Data Exchange Enablers [Traceability]" usemap="#id-8b31d67863654e5fb1dd2e783870f761map"/>
			   <map name="id-8b31d67863654e5fb1dd2e783870f761map">
				          <area shape="rect" coords="10,730,195,810" href="../objects/id-bcd3c466f3da4165815191b0642bccce.html" target="element" >
				  		<area shape="rect" coords="838,503,994,575" href="../elements/id-bcddcbb6091044e6bf375b301850cf3c.html"  target="element">
				  				<area shape="rect" coords="1054,502,1210,574" href="../elements/id-be82c1471e9f491cbbf4438dadd5b7ca.html"  target="element">

				  		<area shape="rect" coords="1030,478,1223,599" href="../elements/id-aa834d965126450e8734f9171c2b030e.html"  target="element">
				  						<area shape="rect" coords="286,682,442,765" href="../elements/id-2079d38ebfe643f3974fc49c9db41d17.html"  target="element">
				  						<area shape="rect" coords="466,682,622,765" href="../elements/id-b36c14d1e2f44167bd617a52439ffc19.html"  target="element">

				  				<area shape="rect" coords="274,658,646,798" href="../elements/id-74e4e774647d40b692611e1a0ac01fab.html"  target="element">
				  						<area shape="rect" coords="850,682,1006,765" href="../elements/id-0b5f2a59b841470dbbf8cb994895adf7.html"  target="element">
				  						<area shape="rect" coords="682,682,838,765" href="../elements/id-676b248ef4a0444395a4e9a36fa000ac.html"  target="element">

				  				<area shape="rect" coords="658,658,1030,798" href="../elements/id-b86261d450e84af7bead53014766061d.html"  target="element">
				  				<area shape="rect" coords="610,814,694,850" href="../elements/id-22360ac7c229403ab34dfbc285f61900.html"  target="element">

				  		<area shape="rect" coords="250,634,1054,862" href="../elements/id-a566e590bf9d4cb0b52e0278b1d872dc.html"  target="element">
				  				<area shape="rect" coords="910,358,1066,443" href="../elements/id-6482194e8bf74dfdafc42f4d585bee17.html"  target="element">

				  		<area shape="rect" coords="862,310,1115,461" href="../elements/id-f6cdcd60826746d9b820a961b8d447a0.html"  target="element">
				  				<area shape="rect" coords="910,166,1066,251" href="../elements/id-d5c2d0992b5047c3bee671c4f08aada6.html"  target="element">
				  				<area shape="rect" coords="910,58,1066,143" href="../elements/id-fc4d7b75717c442a8568a97f8a786c14.html"  target="element">

				  		<area shape="rect" coords="862,10,1115,274" href="../elements/id-33fca35878094e7bbcd0c20a5c009faa.html"  target="element">
				  		<area shape="rect" coords="286,358,442,441" href="../elements/id-9d4969c653f3421ea3f65aeb684852aa.html"  target="element">
				  				<area shape="rect" coords="586,502,742,574" href="../elements/id-23f8a1ae412c4c1195d761a59dd939ab.html"  target="element">
				  				<area shape="rect" coords="586,358,742,441" href="../elements/id-a6eafcd8ac314daab69a950d8c57101c.html"  target="element">

				  		<area shape="rect" coords="562,310,779,599" href="../elements/id-7c961e939c414978bb5cee14af5d2b60.html"  target="element">
				  				<area shape="rect" coords="286,70,454,167" href="../elements/id-85cf1fb489554959952ba1537fa1f179.html"  target="element">
				  				<area shape="rect" coords="286,178,454,275" href="../elements/id-174eb06b4368437c9c6e057a67edcbfe.html"  target="element">

				          <area shape="rect" coords="238,22,527,287" href="../objects/id-252890464d2349919da7f44b3fa9cadf.html" target="element" >
				  				<area shape="rect" coords="586,58,754,275" href="../elements/id-21e9529b9157489ab162a42e633848ee.html"  target="element">

				  		<area shape="rect" coords="562,10,779,287" href="../elements/id-bd9d39012cdf48faa417fb3ed825746d.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

                    <!-- Analysis -->

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">NARRATIVE:
The TVA-Data Exchange Enablers [Motivation] view extends Technical view - application and provides a comprehensive framework for leveraging the Business Agnostic Data Exchange Business Service and Data Exchange Enablers. 

The Business Agnostic Data Exchange Business Service, as depicted in the Diagram Model-group ABB, is a crucial element in this view. It is further detailed by the Data Exchange element, which is a Business Service ABB. The Data Exchange Digital Public Service is designed to facilitate the exchange of data in a business-agnostic manner, meaning it can be used across various business domains.

The Data Exchange Enablers, represented as a Grouping ABB, are essential components that facilitate the exchange of data between systems or applications. This grouping includes two Application Service ABBs: the Once-Only Technical System and the Data Exchange.

The Once-Only Technical System (OOTS) is a cross-sectorial service that enables the sharing of information between public administrations across borders between EU countries. It can be expanded beyond the current scope of life events set out in the Single Digital Gateway Regulation. The OOTS puts into practice the Once-Only Principle, which states that citizens should not be forced to provide information to authorities if another authority already holds that information in electronic format.

The Data Exchange is another Application Service ABB within the Data Exchange Enablers grouping. This service enables the secure exchange of messages, records, forms, and other kinds of data between different individuals, organizations, or systems. This includes data routing, except endpoint discovery.

In summary, the TVA-Data Exchange Enablers [Motivation] view provides a comprehensive framework that leverages the Business Agnostic Data Exchange Business Service and Data Exchange Enablers to facilitate secure and efficient data exchange across different systems, applications, and borders.
</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="analysis">
						<table class="table table-striped table-hover table-condensed" id="used-in-views">
							<thead>
								<tr><th colspan="2" class="i18n-used-in-views" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-viewpoint"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<table class="table table-striped table-hover table-condensed" id="model-relations">
							<thead>
								<tr><th colspan="4" class="i18n-model-relations" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
									<th class="i18n-source"></th>
									<th class="i18n-target"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-bd9d39012cdf48faa417fb3ed825746d.html" target="element"> Data Exchange Enablers </a> </td>
											    <td> <a href="../elements/id-bd9d39012cdf48faa417fb3ed825746d.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-21e9529b9157489ab162a42e633848ee.html" target="element"> Data Exchange </a> </td>
													    <td> <a href="../elements/id-21e9529b9157489ab162a42e633848ee.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-252890464d2349919da7f44b3fa9cadf.html" target="element"> Business Agnostic Data Exchange Business Service </a> </td>
									           <td> <a href="../objects/id-252890464d2349919da7f44b3fa9cadf.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-174eb06b4368437c9c6e057a67edcbfe.html" target="element"> Digital Collaboration </a> </td>
													    <td> <a href="../elements/id-174eb06b4368437c9c6e057a67edcbfe.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-85cf1fb489554959952ba1537fa1f179.html" target="element"> eDelivery </a> </td>
													    <td> <a href="../elements/id-85cf1fb489554959952ba1537fa1f179.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-7c961e939c414978bb5cee14af5d2b60.html" target="element"> Messaging Enablers </a> </td>
											    <td> <a href="../elements/id-7c961e939c414978bb5cee14af5d2b60.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-a6eafcd8ac314daab69a950d8c57101c.html" target="element"> Message Broker </a> </td>
													    <td> <a href="../elements/id-a6eafcd8ac314daab69a950d8c57101c.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-23f8a1ae412c4c1195d761a59dd939ab.html" target="element"> Message Broker SDK </a> </td>
													    <td> <a href="../elements/id-23f8a1ae412c4c1195d761a59dd939ab.html" target="element" class="i18n-elementtype-ApplicationInterface">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-9d4969c653f3421ea3f65aeb684852aa.html" target="element"> eNotification </a> </td>
											    <td> <a href="../elements/id-9d4969c653f3421ea3f65aeb684852aa.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-33fca35878094e7bbcd0c20a5c009faa.html" target="element"> Digital Solution Portability and Scalability Architecture Decision Catalogue </a> </td>
											    <td> <a href="../elements/id-33fca35878094e7bbcd0c20a5c009faa.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-fc4d7b75717c442a8568a97f8a786c14.html" target="element"> Data Exchange Deployment </a> </td>
													    <td> <a href="../elements/id-fc4d7b75717c442a8568a97f8a786c14.html" target="element" class="i18n-elementtype-Goal">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d5c2d0992b5047c3bee671c4f08aada6.html" target="element"> Data Exchanger Operations </a> </td>
													    <td> <a href="../elements/id-d5c2d0992b5047c3bee671c4f08aada6.html" target="element" class="i18n-elementtype-Goal">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-f6cdcd60826746d9b820a961b8d447a0.html" target="element"> Digital Solution Business Architecture Decision Catalogue </a> </td>
											    <td> <a href="../elements/id-f6cdcd60826746d9b820a961b8d447a0.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-6482194e8bf74dfdafc42f4d585bee17.html" target="element"> Data Notification Deployment </a> </td>
													    <td> <a href="../elements/id-6482194e8bf74dfdafc42f4d585bee17.html" target="element" class="i18n-elementtype-Goal">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-a566e590bf9d4cb0b52e0278b1d872dc.html" target="element"> Central VIES Messaging Solutions </a> </td>
											    <td> <a href="../elements/id-a566e590bf9d4cb0b52e0278b1d872dc.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-22360ac7c229403ab34dfbc285f61900.html" target="element"> {XOR} </a> </td>
													    <td> <a href="../elements/id-22360ac7c229403ab34dfbc285f61900.html" target="element" class="i18n-elementtype-Constraint">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b86261d450e84af7bead53014766061d.html" target="element"> Azure Cloud </a> </td>
													    <td> <a href="../elements/id-b86261d450e84af7bead53014766061d.html" target="element" class="i18n-elementtype-Grouping">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-676b248ef4a0444395a4e9a36fa000ac.html" target="element"> Azure Service Bus </a> </td>
															    <td> <a href="../elements/id-676b248ef4a0444395a4e9a36fa000ac.html" target="element" class="i18n-elementtype-ApplicationService">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-0b5f2a59b841470dbbf8cb994895adf7.html" target="element"> Azure Message Bus SDK </a> </td>
															    <td> <a href="../elements/id-0b5f2a59b841470dbbf8cb994895adf7.html" target="element" class="i18n-elementtype-ApplicationInterface">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-74e4e774647d40b692611e1a0ac01fab.html" target="element"> AWS Cloud </a> </td>
													    <td> <a href="../elements/id-74e4e774647d40b692611e1a0ac01fab.html" target="element" class="i18n-elementtype-Grouping">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-b36c14d1e2f44167bd617a52439ffc19.html" target="element"> SNS SDK </a> </td>
															    <td> <a href="../elements/id-b36c14d1e2f44167bd617a52439ffc19.html" target="element" class="i18n-elementtype-ApplicationInterface">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-2079d38ebfe643f3974fc49c9db41d17.html" target="element"> Amazon SNS </a> </td>
															    <td> <a href="../elements/id-2079d38ebfe643f3974fc49c9db41d17.html" target="element" class="i18n-elementtype-ApplicationService">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-aa834d965126450e8734f9171c2b030e.html" target="element"> Message Exchange Patterns </a> </td>
											    <td> <a href="../elements/id-aa834d965126450e8734f9171c2b030e.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-be82c1471e9f491cbbf4438dadd5b7ca.html" target="element"> Publish/Subscribe Message Exchange Pattern </a> </td>
													    <td> <a href="../elements/id-be82c1471e9f491cbbf4438dadd5b7ca.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-bcddcbb6091044e6bf375b301850cf3c.html" target="element"> VIES Notification Message </a> </td>
											    <td> <a href="../elements/id-bcddcbb6091044e6bf375b301850cf3c.html" target="element" class="i18n-elementtype-Contract">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-bcd3c466f3da4165815191b0642bccce.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-bcd3c466f3da4165815191b0642bccce.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-392c8b67c54a40a79833f94b0a5ace1a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-392c8b67c54a40a79833f94b0a5ace1a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-bd9d39012cdf48faa417fb3ed825746d.html" target="element"> Data Exchange Enablers </a> </td>
																		<td> <a href="../elements/id-21e9529b9157489ab162a42e633848ee.html" target="element"> Data Exchange </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-e08646fc7d1c4279aa495f6a97c282ff.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e08646fc7d1c4279aa495f6a97c282ff.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-21e9529b9157489ab162a42e633848ee.html" target="element"> Data Exchange </a> </td>
																				<td> <a href="../elements/id-174eb06b4368437c9c6e057a67edcbfe.html" target="element"> Digital Collaboration </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-29a6fb6bfd3842cf8bd990d78542e1b7.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-29a6fb6bfd3842cf8bd990d78542e1b7.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-21e9529b9157489ab162a42e633848ee.html" target="element"> Data Exchange </a> </td>
																				<td> <a href="../elements/id-85cf1fb489554959952ba1537fa1f179.html" target="element"> eDelivery </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
																	<tr>
																		<td> <a href="../elements/id-0a967a1abe0b40d4a95aaf2312951b72.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0a967a1abe0b40d4a95aaf2312951b72.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7c961e939c414978bb5cee14af5d2b60.html" target="element"> Messaging Enablers </a> </td>
																		<td> <a href="../elements/id-a6eafcd8ac314daab69a950d8c57101c.html" target="element"> Message Broker </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-412eaef4d02946789e60af71d89ad2df.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-412eaef4d02946789e60af71d89ad2df.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7c961e939c414978bb5cee14af5d2b60.html" target="element"> Messaging Enablers </a> </td>
																		<td> <a href="../elements/id-23f8a1ae412c4c1195d761a59dd939ab.html" target="element"> Message Broker SDK </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-6a2e773bda3c42b8898d068b187e42d7.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6a2e773bda3c42b8898d068b187e42d7.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-a6eafcd8ac314daab69a950d8c57101c.html" target="element"> Message Broker </a> </td>
																				<td> <a href="../elements/id-9d4969c653f3421ea3f65aeb684852aa.html" target="element"> eNotification </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-a646fdc2b4d64785b28188604aa417bb.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a646fdc2b4d64785b28188604aa417bb.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-a6eafcd8ac314daab69a950d8c57101c.html" target="element"> Message Broker </a> </td>
																				<td> <a href="../elements/id-174eb06b4368437c9c6e057a67edcbfe.html" target="element"> Digital Collaboration </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-fafb36143d23483fbe15cde350ba200e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-fafb36143d23483fbe15cde350ba200e.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-23f8a1ae412c4c1195d761a59dd939ab.html" target="element"> Message Broker SDK </a> </td>
																				<td> <a href="../elements/id-a6eafcd8ac314daab69a950d8c57101c.html" target="element"> Message Broker </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-c4c98fa56a8f4bfc95f039b833a6d9c1.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c4c98fa56a8f4bfc95f039b833a6d9c1.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-23f8a1ae412c4c1195d761a59dd939ab.html" target="element"> Message Broker SDK </a> </td>
																				<td> <a href="../elements/id-bcddcbb6091044e6bf375b301850cf3c.html" target="element"> VIES Notification Message </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-14b1c25fad00403f9d554839b9f3a382.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-14b1c25fad00403f9d554839b9f3a382.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-33fca35878094e7bbcd0c20a5c009faa.html" target="element"> Digital Solution Portability and Scalability Architecture Decision Catalogue </a> </td>
																		<td> <a href="../elements/id-d5c2d0992b5047c3bee671c4f08aada6.html" target="element"> Data Exchanger Operations </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4020db931a3346079e2cf8d7d6d0f547.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4020db931a3346079e2cf8d7d6d0f547.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-33fca35878094e7bbcd0c20a5c009faa.html" target="element"> Digital Solution Portability and Scalability Architecture Decision Catalogue </a> </td>
																		<td> <a href="../elements/id-fc4d7b75717c442a8568a97f8a786c14.html" target="element"> Data Exchange Deployment </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e65ba3ded0e7489ea54f945632d958b0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e65ba3ded0e7489ea54f945632d958b0.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-33fca35878094e7bbcd0c20a5c009faa.html" target="element"> Digital Solution Portability and Scalability Architecture Decision Catalogue </a> </td>
																		<td> <a href="../elements/id-bd9d39012cdf48faa417fb3ed825746d.html" target="element"> Data Exchange Enablers </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-a3876601104d44e1968a5ca304cbf798.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a3876601104d44e1968a5ca304cbf798.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f6cdcd60826746d9b820a961b8d447a0.html" target="element"> Digital Solution Business Architecture Decision Catalogue </a> </td>
																		<td> <a href="../elements/id-6482194e8bf74dfdafc42f4d585bee17.html" target="element"> Data Notification Deployment </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2b99a63c53594946b6886ff515a52a6c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2b99a63c53594946b6886ff515a52a6c.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f6cdcd60826746d9b820a961b8d447a0.html" target="element"> Digital Solution Business Architecture Decision Catalogue </a> </td>
																		<td> <a href="../elements/id-7c961e939c414978bb5cee14af5d2b60.html" target="element"> Messaging Enablers </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-3fc153d5cbef485399e756b2eb580fda.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3fc153d5cbef485399e756b2eb580fda.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a566e590bf9d4cb0b52e0278b1d872dc.html" target="element"> Central VIES Messaging Solutions </a> </td>
																		<td> <a href="../elements/id-a6eafcd8ac314daab69a950d8c57101c.html" target="element"> Message Broker </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c33b91cdceee4598b59ae0419b129505.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c33b91cdceee4598b59ae0419b129505.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a566e590bf9d4cb0b52e0278b1d872dc.html" target="element"> Central VIES Messaging Solutions </a> </td>
																		<td> <a href="../elements/id-22360ac7c229403ab34dfbc285f61900.html" target="element"> {XOR} </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b05df5aae8d447f5b87c0c6207a50bda.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b05df5aae8d447f5b87c0c6207a50bda.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a566e590bf9d4cb0b52e0278b1d872dc.html" target="element"> Central VIES Messaging Solutions </a> </td>
																		<td> <a href="../elements/id-b86261d450e84af7bead53014766061d.html" target="element"> Azure Cloud </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-169adfc21bd341bb964f8a07b9bc7c5d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-169adfc21bd341bb964f8a07b9bc7c5d.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a566e590bf9d4cb0b52e0278b1d872dc.html" target="element"> Central VIES Messaging Solutions </a> </td>
																		<td> <a href="../elements/id-74e4e774647d40b692611e1a0ac01fab.html" target="element"> AWS Cloud </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-72ba9a99ce03443db94109419627ba5f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-72ba9a99ce03443db94109419627ba5f.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a566e590bf9d4cb0b52e0278b1d872dc.html" target="element"> Central VIES Messaging Solutions </a> </td>
																		<td> <a href="../elements/id-23f8a1ae412c4c1195d761a59dd939ab.html" target="element"> Message Broker SDK </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-2b2544e2ccb541979b8601b8d824b5c1.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2b2544e2ccb541979b8601b8d824b5c1.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-22360ac7c229403ab34dfbc285f61900.html" target="element"> {XOR} </a> </td>
																				<td> <a href="../elements/id-b86261d450e84af7bead53014766061d.html" target="element"> Azure Cloud </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-a2302f868e2b455e97a2ccd856dd8410.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a2302f868e2b455e97a2ccd856dd8410.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-22360ac7c229403ab34dfbc285f61900.html" target="element"> {XOR} </a> </td>
																				<td> <a href="../elements/id-74e4e774647d40b692611e1a0ac01fab.html" target="element"> AWS Cloud </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-6812de5c7b554a439c152886356d8850.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6812de5c7b554a439c152886356d8850.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-b86261d450e84af7bead53014766061d.html" target="element"> Azure Cloud </a> </td>
																				<td> <a href="../elements/id-676b248ef4a0444395a4e9a36fa000ac.html" target="element"> Azure Service Bus </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-9f4125fcabb0457c8d0bedc88804fff9.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-9f4125fcabb0457c8d0bedc88804fff9.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-b86261d450e84af7bead53014766061d.html" target="element"> Azure Cloud </a> </td>
																				<td> <a href="../elements/id-0b5f2a59b841470dbbf8cb994895adf7.html" target="element"> Azure Message Bus SDK </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-52b5962402894377b09156ad93acbbef.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-52b5962402894377b09156ad93acbbef.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-74e4e774647d40b692611e1a0ac01fab.html" target="element"> AWS Cloud </a> </td>
																				<td> <a href="../elements/id-b36c14d1e2f44167bd617a52439ffc19.html" target="element"> SNS SDK </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-668149500c9348729f03a2597be12eb1.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-668149500c9348729f03a2597be12eb1.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-74e4e774647d40b692611e1a0ac01fab.html" target="element"> AWS Cloud </a> </td>
																				<td> <a href="../elements/id-2079d38ebfe643f3974fc49c9db41d17.html" target="element"> Amazon SNS </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-df321acb930546bd84a3c9a0c2041c6e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-df321acb930546bd84a3c9a0c2041c6e.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-aa834d965126450e8734f9171c2b030e.html" target="element"> Message Exchange Patterns </a> </td>
																		<td> <a href="../elements/id-be82c1471e9f491cbbf4438dadd5b7ca.html" target="element"> Publish/Subscribe Message Exchange Pattern </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-50e07c7d01604c7b95beab4df1984831.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-50e07c7d01604c7b95beab4df1984831.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-be82c1471e9f491cbbf4438dadd5b7ca.html" target="element"> Publish/Subscribe Message Exchange Pattern </a> </td>
																				<td> <a href="../elements/id-bcddcbb6091044e6bf375b301850cf3c.html" target="element"> VIES Notification Message </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>