<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>OV-Organisational Agreements</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>OV-Organisational Agreements</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-8cde166616504900882a35e128445d5b.png" alt="OV-Organisational Agreements" usemap="#id-8cde166616504900882a35e128445d5bmap"/>
			   <map name="id-8cde166616504900882a35e128445d5bmap">
				          <area shape="rect" coords="1100,272,1285,352" href="../objects/id-60af38e65c594889aa2862dd28e1a420.html" target="element" >
				  				<area shape="rect" coords="1238,46,1359,126" href="../elements/id-2f378e15c5c8492ead3ac8b9ca0fb4f9.html"  target="element">
				  				<area shape="rect" coords="1094,46,1215,126" href="../elements/id-9c77832966824ce8985b758576bb1a5a.html"  target="element">

				  		<area shape="rect" coords="1082,10,1371,235" href="../elements/id-4985284ce01a47cb95a2bb6d0fd5221e.html"  target="element">
				  		<area shape="rect" coords="458,138,658,218" href="../elements/id-4134d7b96f8d443fa14944b00147e536.html"  target="element">
				  				<area shape="rect" coords="803,142,1003,222" href="../elements/id-298ae5fe56a6474e9b36c6fd0731688d.html"  target="element">
				  				<area shape="rect" coords="803,46,1003,126" href="../elements/id-83353e9ef4424495a75833ac80456778.html"  target="element">

				  		<area shape="rect" coords="767,10,1043,235" href="../elements/id-33bc772a7e564773b5110558da72e152.html"  target="element">
				  				<area shape="rect" coords="82,143,282,223" href="../elements/id-facb5171a704440d8fb902f66f826eed.html"  target="element">

				  		<area shape="rect" coords="10,89,358,255" href="../elements/id-0a01e879e631444abd54e74b8c2ee078.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

                    <!-- Analysis -->

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="analysis">
						<table class="table table-striped table-hover table-condensed" id="used-in-views">
							<thead>
								<tr><th colspan="2" class="i18n-used-in-views" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-viewpoint"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<table class="table table-striped table-hover table-condensed" id="model-relations">
							<thead>
								<tr><th colspan="4" class="i18n-model-relations" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
									<th class="i18n-source"></th>
									<th class="i18n-target"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-0a01e879e631444abd54e74b8c2ee078.html" target="element"> Business Agnostic Organisational Agreement Catalogue </a> </td>
											    <td> <a href="../elements/id-0a01e879e631444abd54e74b8c2ee078.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-facb5171a704440d8fb902f66f826eed.html" target="element"> National Governance Models </a> </td>
													    <td> <a href="../elements/id-facb5171a704440d8fb902f66f826eed.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-33bc772a7e564773b5110558da72e152.html" target="element"> Tax Organisational Agreements Catalogue </a> </td>
											    <td> <a href="../elements/id-33bc772a7e564773b5110558da72e152.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-83353e9ef4424495a75833ac80456778.html" target="element"> Agreements to Share tax Data Electronically </a> </td>
													    <td> <a href="../elements/id-83353e9ef4424495a75833ac80456778.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-298ae5fe56a6474e9b36c6fd0731688d.html" target="element"> Agreements with tax intermediaries </a> </td>
													    <td> <a href="../elements/id-298ae5fe56a6474e9b36c6fd0731688d.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-4134d7b96f8d443fa14944b00147e536.html" target="element"> Organisational Agreement </a> </td>
											    <td> <a href="../elements/id-4134d7b96f8d443fa14944b00147e536.html" target="element" class="i18n-elementtype-Contract">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4985284ce01a47cb95a2bb6d0fd5221e.html" target="element"> VIDA Organisational Agreements Solutions </a> </td>
											    <td> <a href="../elements/id-4985284ce01a47cb95a2bb6d0fd5221e.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-9c77832966824ce8985b758576bb1a5a.html" target="element"> AS4 </a> </td>
													    <td> <a href="../elements/id-9c77832966824ce8985b758576bb1a5a.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2f378e15c5c8492ead3ac8b9ca0fb4f9.html" target="element"> eInvoicing </a> </td>
													    <td> <a href="../elements/id-2f378e15c5c8492ead3ac8b9ca0fb4f9.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-60af38e65c594889aa2862dd28e1a420.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-60af38e65c594889aa2862dd28e1a420.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-0a33dc1cbc664312b21b86ca60aa85ed.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0a33dc1cbc664312b21b86ca60aa85ed.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0a01e879e631444abd54e74b8c2ee078.html" target="element"> Business Agnostic Organisational Agreement Catalogue </a> </td>
																		<td> <a href="../elements/id-facb5171a704440d8fb902f66f826eed.html" target="element"> National Governance Models </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-f4897b5d5fc248e7a7e0c1aff5712c95.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f4897b5d5fc248e7a7e0c1aff5712c95.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-facb5171a704440d8fb902f66f826eed.html" target="element"> National Governance Models </a> </td>
																				<td> <a href="../elements/id-4134d7b96f8d443fa14944b00147e536.html" target="element"> Organisational Agreement </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-7bbf427eb30842a0b2858571f4a1da07.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7bbf427eb30842a0b2858571f4a1da07.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-33bc772a7e564773b5110558da72e152.html" target="element"> Tax Organisational Agreements Catalogue </a> </td>
																		<td> <a href="../elements/id-83353e9ef4424495a75833ac80456778.html" target="element"> Agreements to Share tax Data Electronically </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6502ade272b049d690bbc1569956cfc4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6502ade272b049d690bbc1569956cfc4.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-33bc772a7e564773b5110558da72e152.html" target="element"> Tax Organisational Agreements Catalogue </a> </td>
																		<td> <a href="../elements/id-298ae5fe56a6474e9b36c6fd0731688d.html" target="element"> Agreements with tax intermediaries </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b5f475b56a3f4f9093dab780f9b3a322.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b5f475b56a3f4f9093dab780f9b3a322.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-33bc772a7e564773b5110558da72e152.html" target="element"> Tax Organisational Agreements Catalogue </a> </td>
																		<td> <a href="../elements/id-4134d7b96f8d443fa14944b00147e536.html" target="element"> Organisational Agreement </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-d7a43f5931db4522978271af01ea24da.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d7a43f5931db4522978271af01ea24da.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-83353e9ef4424495a75833ac80456778.html" target="element"> Agreements to Share tax Data Electronically </a> </td>
																				<td> <a href="../elements/id-9c77832966824ce8985b758576bb1a5a.html" target="element"> AS4 </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-e737ac3c45cf476a80031598de4e271d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e737ac3c45cf476a80031598de4e271d.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4985284ce01a47cb95a2bb6d0fd5221e.html" target="element"> VIDA Organisational Agreements Solutions </a> </td>
																		<td> <a href="../elements/id-9c77832966824ce8985b758576bb1a5a.html" target="element"> AS4 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1a1eaa8555cf4ba0aad809f941b81daa.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1a1eaa8555cf4ba0aad809f941b81daa.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4985284ce01a47cb95a2bb6d0fd5221e.html" target="element"> VIDA Organisational Agreements Solutions </a> </td>
																		<td> <a href="../elements/id-2f378e15c5c8492ead3ac8b9ca0fb4f9.html" target="element"> eInvoicing </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-c48733759e2e482f9b722c0deada2dc9.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c48733759e2e482f9b722c0deada2dc9.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-9c77832966824ce8985b758576bb1a5a.html" target="element"> AS4 </a> </td>
																				<td> <a href="../elements/id-2f378e15c5c8492ead3ac8b9ca0fb4f9.html" target="element"> eInvoicing </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>