<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Data Exchange [Traceability]</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Data Exchange [Traceability]</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-a1779eef8eb8430e923fbb5b907d1511.png" alt="Data Exchange [Traceability]" usemap="#id-a1779eef8eb8430e923fbb5b907d1511map"/>
			   <map name="id-a1779eef8eb8430e923fbb5b907d1511map">
				  				<area shape="rect" coords="454,46,654,131" href="../elements/id-769553e18cf749559e56becc22fed25c.html"  target="element">
				  				<area shape="rect" coords="238,46,438,131" href="../elements/id-95bb672feea949ea9692be4e46cc5ba8.html"  target="element">
				  				<area shape="rect" coords="22,46,222,131" href="../elements/id-99b882061e05490ea40c993df11655b8.html"  target="element">

				          <area shape="rect" coords="10,10,671,150" href="../objects/id-9dbd253107944506b5420552eb5eb863.html" target="element" >
				  				<area shape="rect" coords="130,214,575,294" href="../elements/id-de82fd77051b41209c127c3f8230c11c.html"  target="element">

				          <area shape="rect" coords="10,178,683,318" href="../objects/id-1240d65ad3f44d76a0e2db9ef563ccb8.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

                    <!-- Analysis -->

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="analysis">
						<table class="table table-striped table-hover table-condensed" id="used-in-views">
							<thead>
								<tr><th colspan="2" class="i18n-used-in-views" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-viewpoint"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<table class="table table-striped table-hover table-condensed" id="model-relations">
							<thead>
								<tr><th colspan="4" class="i18n-model-relations" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
									<th class="i18n-source"></th>
									<th class="i18n-target"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-1240d65ad3f44d76a0e2db9ef563ccb8.html" target="element"> Digital Public Services </a> </td>
									           <td> <a href="../objects/id-1240d65ad3f44d76a0e2db9ef563ccb8.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-de82fd77051b41209c127c3f8230c11c.html" target="element"> Transmission of intra-community e-invoices data to the central VIES </a> </td>
													    <td> <a href="../elements/id-de82fd77051b41209c127c3f8230c11c.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-9dbd253107944506b5420552eb5eb863.html" target="element"> Legal Content </a> </td>
									           <td> <a href="../objects/id-9dbd253107944506b5420552eb5eb863.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-99b882061e05490ea40c993df11655b8.html" target="element"> ViDA proposal amending Directive 2006/112/EC  on VAT rules </a> </td>
													    <td> <a href="../elements/id-99b882061e05490ea40c993df11655b8.html" target="element" class="i18n-elementtype-Requirement">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-95bb672feea949ea9692be4e46cc5ba8.html" target="element"> Directive 2014/55 on guidelines for eInvoicing transmission </a> </td>
													    <td> <a href="../elements/id-95bb672feea949ea9692be4e46cc5ba8.html" target="element" class="i18n-elementtype-Requirement">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-769553e18cf749559e56becc22fed25c.html" target="element"> ViDA proposal amending Regulation 282/2011 on information required for VAT schemes  </a> </td>
													    <td> <a href="../elements/id-769553e18cf749559e56becc22fed25c.html" target="element" class="i18n-elementtype-Requirement">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/id-64b7f70497144aa4b039cd904f0198f4.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-64b7f70497144aa4b039cd904f0198f4.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-de82fd77051b41209c127c3f8230c11c.html" target="element"> Transmission of intra-community e-invoices data to the central VIES </a> </td>
																				<td> <a href="../elements/id-99b882061e05490ea40c993df11655b8.html" target="element"> ViDA proposal amending Directive 2006/112/EC  on VAT rules </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-e1bac95472794b2895d0a90e07dd0e5f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e1bac95472794b2895d0a90e07dd0e5f.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-de82fd77051b41209c127c3f8230c11c.html" target="element"> Transmission of intra-community e-invoices data to the central VIES </a> </td>
																				<td> <a href="../elements/id-95bb672feea949ea9692be4e46cc5ba8.html" target="element"> Directive 2014/55 on guidelines for eInvoicing transmission </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-86831239a78d4a468a555207824ebc1a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-86831239a78d4a468a555207824ebc1a.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-de82fd77051b41209c127c3f8230c11c.html" target="element"> Transmission of intra-community e-invoices data to the central VIES </a> </td>
																				<td> <a href="../elements/id-769553e18cf749559e56becc22fed25c.html" target="element"> ViDA proposal amending Regulation 282/2011 on information required for VAT schemes  </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>