<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>TVA-VAT Fraud Enablers [Traceability]</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>TVA-VAT Fraud Enablers [Traceability]</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-ae9c1157bdfe420780c08bd16b3750c5.png" alt="TVA-VAT Fraud Enablers [Traceability]" usemap="#id-ae9c1157bdfe420780c08bd16b3750c5map"/>
			   <map name="id-ae9c1157bdfe420780c08bd16b3750c5map">
				  		<area shape="rect" coords="22,166,222,246" href="../elements/id-5105e37317904289898253be98a70372.html"  target="element">
				  				<area shape="rect" coords="646,103,802,186" href="../elements/id-d056588330264dc6af772ab9265b2311.html"  target="element">

				  		<area shape="rect" coords="622,67,839,212" href="../elements/id-3bf59009035b44c7a5151fc429d0ad5e.html"  target="element">
				  				<area shape="rect" coords="22,46,222,126" href="../elements/id-01a44b3d4dcb4ce48398b3f48f946026.html"  target="element">

				          <area shape="rect" coords="10,10,287,150" href="../objects/id-3799dde6e5ad4176b9c0f7cb4c08c927.html" target="element" >
				  				<area shape="rect" coords="418,118,575,191" href="../elements/id-55d51c0500104c9f9aa43619220ba314.html"  target="element">
				  				<area shape="rect" coords="418,238,575,311" href="../elements/id-7045c5822aa94aa79f7b5015e2b55bb3.html"  target="element">

				  		<area shape="rect" coords="406,70,599,347" href="../elements/id-cbf8ad52d46340e595cbeee7d68290be.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

                    <!-- Analysis -->

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="analysis">
						<table class="table table-striped table-hover table-condensed" id="used-in-views">
							<thead>
								<tr><th colspan="2" class="i18n-used-in-views" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-viewpoint"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<table class="table table-striped table-hover table-condensed" id="model-relations">
							<thead>
								<tr><th colspan="4" class="i18n-model-relations" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
									<th class="i18n-source"></th>
									<th class="i18n-target"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-cbf8ad52d46340e595cbeee7d68290be.html" target="element"> VAT Fraud Enablers </a> </td>
											    <td> <a href="../elements/id-cbf8ad52d46340e595cbeee7d68290be.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-7045c5822aa94aa79f7b5015e2b55bb3.html" target="element"> VAT Fraud </a> </td>
													    <td> <a href="../elements/id-7045c5822aa94aa79f7b5015e2b55bb3.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-55d51c0500104c9f9aa43619220ba314.html" target="element"> VAT Fraud </a> </td>
													    <td> <a href="../elements/id-55d51c0500104c9f9aa43619220ba314.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-3799dde6e5ad4176b9c0f7cb4c08c927.html" target="element"> VIES/MS Digital Public Service Catalogue </a> </td>
									           <td> <a href="../objects/id-3799dde6e5ad4176b9c0f7cb4c08c927.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-01a44b3d4dcb4ce48398b3f48f946026.html" target="element"> Anti-fraud management </a> </td>
													    <td> <a href="../elements/id-01a44b3d4dcb4ce48398b3f48f946026.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-3bf59009035b44c7a5151fc429d0ad5e.html" target="element"> VIES VAT Fraud Solutions </a> </td>
											    <td> <a href="../elements/id-3bf59009035b44c7a5151fc429d0ad5e.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-d056588330264dc6af772ab9265b2311.html" target="element"> Transaction Network Analysis </a> </td>
													    <td> <a href="../elements/id-d056588330264dc6af772ab9265b2311.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-5105e37317904289898253be98a70372.html" target="element"> e-Invoice Data Verification </a> </td>
											    <td> <a href="../elements/id-5105e37317904289898253be98a70372.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-3d919c6f70634c2ea42314d494a81aee.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3d919c6f70634c2ea42314d494a81aee.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cbf8ad52d46340e595cbeee7d68290be.html" target="element"> VAT Fraud Enablers </a> </td>
																		<td> <a href="../elements/id-55d51c0500104c9f9aa43619220ba314.html" target="element"> VAT Fraud </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b2664cf211b447d7b5c2ce987e919a98.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b2664cf211b447d7b5c2ce987e919a98.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cbf8ad52d46340e595cbeee7d68290be.html" target="element"> VAT Fraud Enablers </a> </td>
																		<td> <a href="../elements/id-7045c5822aa94aa79f7b5015e2b55bb3.html" target="element"> VAT Fraud </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-fbb03a3f37fa480b974837c95ccd295a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-fbb03a3f37fa480b974837c95ccd295a.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-7045c5822aa94aa79f7b5015e2b55bb3.html" target="element"> VAT Fraud </a> </td>
																				<td> <a href="../elements/id-55d51c0500104c9f9aa43619220ba314.html" target="element"> VAT Fraud </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-627ba467ee0b4d54898ef970a89d4405.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-627ba467ee0b4d54898ef970a89d4405.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-55d51c0500104c9f9aa43619220ba314.html" target="element"> VAT Fraud </a> </td>
																				<td> <a href="../elements/id-01a44b3d4dcb4ce48398b3f48f946026.html" target="element"> Anti-fraud management </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-19617cb080994cbeb3e064475f9fee63.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-19617cb080994cbeb3e064475f9fee63.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-55d51c0500104c9f9aa43619220ba314.html" target="element"> VAT Fraud </a> </td>
																				<td> <a href="../elements/id-5105e37317904289898253be98a70372.html" target="element"> e-Invoice Data Verification </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
																	<tr>
																		<td> <a href="../elements/id-0e4323a113d24fceae54226eafb4c1b6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0e4323a113d24fceae54226eafb4c1b6.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3bf59009035b44c7a5151fc429d0ad5e.html" target="element"> VIES VAT Fraud Solutions </a> </td>
																		<td> <a href="../elements/id-d056588330264dc6af772ab9265b2311.html" target="element"> Transaction Network Analysis </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-bd92af842e2c4d92836cb60c1054f3fd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bd92af842e2c4d92836cb60c1054f3fd.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3bf59009035b44c7a5151fc429d0ad5e.html" target="element"> VIES VAT Fraud Solutions </a> </td>
																		<td> <a href="../elements/id-55d51c0500104c9f9aa43619220ba314.html" target="element"> VAT Fraud </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>