<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>TVI-Trust Infrastructure Enablers [Traceability]</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>TVI-Trust Infrastructure Enablers [Traceability]</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-bb221ece9d3146ad87ef4d362089afa6.png" alt="TVI-Trust Infrastructure Enablers [Traceability]" usemap="#id-bb221ece9d3146ad87ef4d362089afa6map"/>
			   <map name="id-bb221ece9d3146ad87ef4d362089afa6map">
				  				<area shape="rect" coords="682,190,842,245" href="../elements/id-d03592073a6d41b993d8799ed9e1cfff.html"  target="element">

				  		<area shape="rect" coords="670,166,861,250" href="../elements/id-54b98c4248034970bc5048ef0c3b65c0.html"  target="element">
				  				<area shape="rect" coords="1546,304,1666,359" href="../views/id-8b31d67863654e5fb1dd2e783870f761.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="1258,106,1426,203" href="../elements/id-21e9529b9157489ab162a42e633848ee.html"  target="element">
				  				<area shape="rect" coords="1258,262,1426,359" href="../elements/id-cc610f47d65c48aa993a23570ab62fcc.html"  target="element">

				  		<area shape="rect" coords="1234,58,1678,383" href="../elements/id-bd9d39012cdf48faa417fb3ed825746d.html"  target="element">
				  				<area shape="rect" coords="682,394,842,449" href="../elements/id-60715bd9b3e5490394b9f65bf71c348b.html"  target="element">
				  				<area shape="rect" coords="850,322,1010,377" href="../elements/id-b68ddc83ae174378b689683c879d1db1.html"  target="element">
				  				<area shape="rect" coords="682,322,842,377" href="../elements/id-f954a4f123754de08af1a70a9e48a92d.html"  target="element">

				  		<area shape="rect" coords="670,274,1030,478" href="../elements/id-58a69068acf247ff893975b335104b2c.html"  target="element">
				  				<area shape="rect" coords="682,70,842,125" href="../elements/id-79b6b51caf3748838ffac93d14a40cd5.html"  target="element">

				  		<area shape="rect" coords="670,34,861,154" href="../elements/id-bed93d253bc841769fc6d4a7be643b5d.html"  target="element">
				  						<area shape="rect" coords="322,94,478,177" href="../elements/id-28002c0e225e49b692781f8c7ea6757b.html"  target="element">
				  						<area shape="rect" coords="106,94,262,177" href="../elements/id-241d292f8a6840d88e1d656ec4d1e615.html"  target="element">
				  						<area shape="rect" coords="214,226,370,309" href="../elements/id-929efb71f42e4246acc0e2840e0fb62f.html"  target="element">

				  				<area shape="rect" coords="82,58,503,335" href="../elements/id-66e61de1d8d64fc09e5a16bdd5d46be8.html"  target="element">

				  		<area shape="rect" coords="10,10,532,575" href="../elements/id-40d66e2346ed47df8be949c6cead69c3.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

                    <!-- Analysis -->

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">NARRATIVE:
The TVI-Trust Infrastructure Enablers [Motivation] view extends Technical view - infrastructure and provides a comprehensive framework for leveraging various components and services to build a secure and trustworthy environment for data sharing and transactions. 

The view consists of several elements grouped into four main categories: Blockchain Infrastructure Enablers, Trust Infrastructure Enablers, Trust Enablers, and Dataspace Enablers. 

Blockchain Infrastructure Enablers ABB is a grouping of components and services that allow for the construction of a digital ledger infrastructure of interconnected nodes. This includes the Immutable Database Manager ABB, Blockchain Ledger ABB, and Distributed Blockchain Network ABB. These technology services enable the management of immutable data, recording and sharing of transactions in an electronic ledger, and the implementation of tokens in a blockchain network, respectively.

Trust Infrastructure Enablers ABB is a grouping devoted to creating and managing public keys for encryption, a common method of securing data transfers on the internet. This includes the PKI Certificate Manager ABB, a technology service that enables the issuance, maintenance, and revocation of public key certificates.

Trust Enablers ABB is a grouping that facilitates the establishment and maintenance of secure cross-border transactions and interactions. It includes several application services such as e-Seal Preservation, e-Timestamp Verification and Validation, Registered Electronic Delivery, e-Seal Verification and Validation, e-Signature Creation, e-Signature Preservation, e-Signature Verification and Validation, e-Seal Creation, and e-Timestamp Creation. These services enable various procedures related to electronic signatures, timestamps, and seals, extending their trustworthiness and verifying their validity.

Dataspace Enablers ABB is a grouping that supports the creation and management of a dataspace. It includes the Dataspace, Dataspace Connector, Dataspace Connector Consumer, and Dataspace Connector Provider application services. These services enable the creation of a single market for data, easy and trustworthy data sharing, data gathering and accessibility, and control over data use in the dataspace ecosystem, respectively.

The motivation behind these groupings and services is to provide a secure and trustworthy environment for data sharing and transactions, leveraging blockchain technology, trust infrastructure, and dataspace capabilities. This view provides a comprehensive framework for understanding and implementing these elements in a cohesive and effective manner.
</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="analysis">
						<table class="table table-striped table-hover table-condensed" id="used-in-views">
							<thead>
								<tr><th colspan="2" class="i18n-used-in-views" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-viewpoint"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<table class="table table-striped table-hover table-condensed" id="model-relations">
							<thead>
								<tr><th colspan="4" class="i18n-model-relations" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
									<th class="i18n-source"></th>
									<th class="i18n-target"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-40d66e2346ed47df8be949c6cead69c3.html" target="element"> Trust Enablers </a> </td>
											    <td> <a href="../elements/id-40d66e2346ed47df8be949c6cead69c3.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-66e61de1d8d64fc09e5a16bdd5d46be8.html" target="element"> Blockchain Enablers </a> </td>
													    <td> <a href="../elements/id-66e61de1d8d64fc09e5a16bdd5d46be8.html" target="element" class="i18n-elementtype-Grouping">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-929efb71f42e4246acc0e2840e0fb62f.html" target="element"> Blockchain </a> </td>
															    <td> <a href="../elements/id-929efb71f42e4246acc0e2840e0fb62f.html" target="element" class="i18n-elementtype-ApplicationComponent">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-241d292f8a6840d88e1d656ec4d1e615.html" target="element"> Blockchain </a> </td>
															    <td> <a href="../elements/id-241d292f8a6840d88e1d656ec4d1e615.html" target="element" class="i18n-elementtype-ApplicationService">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-28002c0e225e49b692781f8c7ea6757b.html" target="element"> Distributed Ledger </a> </td>
															    <td> <a href="../elements/id-28002c0e225e49b692781f8c7ea6757b.html" target="element" class="i18n-elementtype-ApplicationService">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-bed93d253bc841769fc6d4a7be643b5d.html" target="element"> Trust Infrastructure Enablers </a> </td>
											    <td> <a href="../elements/id-bed93d253bc841769fc6d4a7be643b5d.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-79b6b51caf3748838ffac93d14a40cd5.html" target="element"> PKI Certificate Manager </a> </td>
													    <td> <a href="../elements/id-79b6b51caf3748838ffac93d14a40cd5.html" target="element" class="i18n-elementtype-TechnologyService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-58a69068acf247ff893975b335104b2c.html" target="element"> Blockchain Infrastructure Enablers </a> </td>
											    <td> <a href="../elements/id-58a69068acf247ff893975b335104b2c.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-f954a4f123754de08af1a70a9e48a92d.html" target="element"> Inmutable Database Manager </a> </td>
													    <td> <a href="../elements/id-f954a4f123754de08af1a70a9e48a92d.html" target="element" class="i18n-elementtype-TechnologyService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b68ddc83ae174378b689683c879d1db1.html" target="element"> Blockchain Ledger </a> </td>
													    <td> <a href="../elements/id-b68ddc83ae174378b689683c879d1db1.html" target="element" class="i18n-elementtype-TechnologyService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-60715bd9b3e5490394b9f65bf71c348b.html" target="element"> Distributed Blockchain Network </a> </td>
													    <td> <a href="../elements/id-60715bd9b3e5490394b9f65bf71c348b.html" target="element" class="i18n-elementtype-TechnologyService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-bd9d39012cdf48faa417fb3ed825746d.html" target="element"> Data Exchange Enablers </a> </td>
											    <td> <a href="../elements/id-bd9d39012cdf48faa417fb3ed825746d.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-cc610f47d65c48aa993a23570ab62fcc.html" target="element"> Data Exchange </a> </td>
													    <td> <a href="../elements/id-cc610f47d65c48aa993a23570ab62fcc.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-21e9529b9157489ab162a42e633848ee.html" target="element"> Data Exchange </a> </td>
													    <td> <a href="../elements/id-21e9529b9157489ab162a42e633848ee.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../views/id-8b31d67863654e5fb1dd2e783870f761.html" target="view"> TVA-Data Exchange Enablers [Traceability] </a> </td>
													    <td> <a href="../views/id-8b31d67863654e5fb1dd2e783870f761.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

											
											<tr>
											    <td> <a href="../elements/id-54b98c4248034970bc5048ef0c3b65c0.html" target="element"> Trust Infrastructure Solutions </a> </td>
											    <td> <a href="../elements/id-54b98c4248034970bc5048ef0c3b65c0.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-d03592073a6d41b993d8799ed9e1cfff.html" target="element"> Public Key Infrastructure (PKI) </a> </td>
													    <td> <a href="../elements/id-d03592073a6d41b993d8799ed9e1cfff.html" target="element" class="i18n-elementtype-TechnologyService">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-6a3019e506ad433bb234f623c3807633.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6a3019e506ad433bb234f623c3807633.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-40d66e2346ed47df8be949c6cead69c3.html" target="element"> Trust Enablers </a> </td>
																		<td> <a href="../elements/id-66e61de1d8d64fc09e5a16bdd5d46be8.html" target="element"> Blockchain Enablers </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-07f77f86e5cd49b9a49e95a7ed53434b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-07f77f86e5cd49b9a49e95a7ed53434b.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-40d66e2346ed47df8be949c6cead69c3.html" target="element"> Trust Enablers </a> </td>
																		<td> <a href="../elements/id-bed93d253bc841769fc6d4a7be643b5d.html" target="element"> Trust Infrastructure Enablers </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-05880a6af1fe4e859fe958f2593051fd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-05880a6af1fe4e859fe958f2593051fd.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-40d66e2346ed47df8be949c6cead69c3.html" target="element"> Trust Enablers </a> </td>
																		<td> <a href="../elements/id-58a69068acf247ff893975b335104b2c.html" target="element"> Blockchain Infrastructure Enablers </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-77d95c58d54e4ce2be1e6c2295f7191a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-77d95c58d54e4ce2be1e6c2295f7191a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-66e61de1d8d64fc09e5a16bdd5d46be8.html" target="element"> Blockchain Enablers </a> </td>
																				<td> <a href="../elements/id-241d292f8a6840d88e1d656ec4d1e615.html" target="element"> Blockchain </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-652bcb7f022743359040da851d1598f0.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-652bcb7f022743359040da851d1598f0.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-66e61de1d8d64fc09e5a16bdd5d46be8.html" target="element"> Blockchain Enablers </a> </td>
																				<td> <a href="../elements/id-28002c0e225e49b692781f8c7ea6757b.html" target="element"> Distributed Ledger </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-a974600e16884cabb2852207d11488c8.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a974600e16884cabb2852207d11488c8.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-66e61de1d8d64fc09e5a16bdd5d46be8.html" target="element"> Blockchain Enablers </a> </td>
																				<td> <a href="../elements/id-929efb71f42e4246acc0e2840e0fb62f.html" target="element"> Blockchain </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/id-a1f4714a020041f7a435032241db99e9.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-a1f4714a020041f7a435032241db99e9.html" target="element" class="i18n-elementtype-RealizationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-929efb71f42e4246acc0e2840e0fb62f.html" target="element"> Blockchain </a> </td>
																						<td> <a href="../elements/id-241d292f8a6840d88e1d656ec4d1e615.html" target="element"> Blockchain </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-f7ab07a5ac134bb9a01cb38e67a124f5.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-f7ab07a5ac134bb9a01cb38e67a124f5.html" target="element" class="i18n-elementtype-RealizationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-929efb71f42e4246acc0e2840e0fb62f.html" target="element"> Blockchain </a> </td>
																						<td> <a href="../elements/id-28002c0e225e49b692781f8c7ea6757b.html" target="element"> Distributed Ledger </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/id-11148b76f99549a1a7b4d86f2d6311cf.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-11148b76f99549a1a7b4d86f2d6311cf.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-28002c0e225e49b692781f8c7ea6757b.html" target="element"> Distributed Ledger </a> </td>
																						<td> <a href="../elements/id-241d292f8a6840d88e1d656ec4d1e615.html" target="element"> Blockchain </a> </td>
																					</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-e732007be4574366bde99de01cc1ceb1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e732007be4574366bde99de01cc1ceb1.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-bed93d253bc841769fc6d4a7be643b5d.html" target="element"> Trust Infrastructure Enablers </a> </td>
																		<td> <a href="../elements/id-79b6b51caf3748838ffac93d14a40cd5.html" target="element"> PKI Certificate Manager </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-a5e0a9217b4c44fcaea54113177c3791.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a5e0a9217b4c44fcaea54113177c3791.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-58a69068acf247ff893975b335104b2c.html" target="element"> Blockchain Infrastructure Enablers </a> </td>
																		<td> <a href="../elements/id-b68ddc83ae174378b689683c879d1db1.html" target="element"> Blockchain Ledger </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ce00a379e6404ac7b54cadff15c15a98.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ce00a379e6404ac7b54cadff15c15a98.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-58a69068acf247ff893975b335104b2c.html" target="element"> Blockchain Infrastructure Enablers </a> </td>
																		<td> <a href="../elements/id-60715bd9b3e5490394b9f65bf71c348b.html" target="element"> Distributed Blockchain Network </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-975c286736b34d6bb17f1ef7aa6163a8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-975c286736b34d6bb17f1ef7aa6163a8.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-58a69068acf247ff893975b335104b2c.html" target="element"> Blockchain Infrastructure Enablers </a> </td>
																		<td> <a href="../elements/id-f954a4f123754de08af1a70a9e48a92d.html" target="element"> Inmutable Database Manager </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-392c8b67c54a40a79833f94b0a5ace1a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-392c8b67c54a40a79833f94b0a5ace1a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-bd9d39012cdf48faa417fb3ed825746d.html" target="element"> Data Exchange Enablers </a> </td>
																		<td> <a href="../elements/id-21e9529b9157489ab162a42e633848ee.html" target="element"> Data Exchange </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c3215c84ba2249ab8fe39b777f351d45.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c3215c84ba2249ab8fe39b777f351d45.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-bd9d39012cdf48faa417fb3ed825746d.html" target="element"> Data Exchange Enablers </a> </td>
																		<td> <a href="../elements/id-cc610f47d65c48aa993a23570ab62fcc.html" target="element"> Data Exchange </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-957d33d8e20143a6b4f9f6081c88e392.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-957d33d8e20143a6b4f9f6081c88e392.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-bd9d39012cdf48faa417fb3ed825746d.html" target="element"> Data Exchange Enablers </a> </td>
																		<td> <a href="../elements/id-bed93d253bc841769fc6d4a7be643b5d.html" target="element"> Trust Infrastructure Enablers </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8f087626a9ce4965b10b3a6d504c2fc2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8f087626a9ce4965b10b3a6d504c2fc2.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-bd9d39012cdf48faa417fb3ed825746d.html" target="element"> Data Exchange Enablers </a> </td>
																		<td> <a href="../elements/id-58a69068acf247ff893975b335104b2c.html" target="element"> Blockchain Infrastructure Enablers </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-ce0e4b0b5f664b8b94ba48add3b161e6.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ce0e4b0b5f664b8b94ba48add3b161e6.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-cc610f47d65c48aa993a23570ab62fcc.html" target="element"> Data Exchange </a> </td>
																				<td> <a href="../elements/id-21e9529b9157489ab162a42e633848ee.html" target="element"> Data Exchange </a> </td>
																			</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											
																	<tr>
																		<td> <a href="../elements/id-faee9566a3574acba5bf0c3164c94e8d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-faee9566a3574acba5bf0c3164c94e8d.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-54b98c4248034970bc5048ef0c3b65c0.html" target="element"> Trust Infrastructure Solutions </a> </td>
																		<td> <a href="../elements/id-d03592073a6d41b993d8799ed9e1cfff.html" target="element"> Public Key Infrastructure (PKI) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-955de1f6e06a4ebc978b46d941cd97f2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-955de1f6e06a4ebc978b46d941cd97f2.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-54b98c4248034970bc5048ef0c3b65c0.html" target="element"> Trust Infrastructure Solutions </a> </td>
																		<td> <a href="../elements/id-79b6b51caf3748838ffac93d14a40cd5.html" target="element"> PKI Certificate Manager </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>