<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>10.40 Goals detail view</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>10.40 Goals detail view</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-layered"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_layered" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-f7302f962b4f4ee0838ae9e7f49c6166.png" alt="10.40 Goals detail view" usemap="#id-f7302f962b4f4ee0838ae9e7f49c6166map"/>
			   <map name="id-f7302f962b4f4ee0838ae9e7f49c6166map">
				          <area shape="rect" coords="490,274,1331,551" href="../objects/id-1effc2423b4541989196690631adb0e6.html" target="element" >
				          <area shape="rect" coords="16,274,461,467" href="../objects/id-be3a8285074540a6a6e508c3787ffd38.html" target="element" >
				  		<area shape="rect" coords="502,185,947,258" href="../elements/id-ec1e87242a3748e0b42abb04253b9db1.html"  target="element">
				  		<area shape="rect" coords="15,185,208,258" href="../elements/id-43ad7d13550f46eda1df16b43532ed3d.html"  target="element">
				  				<area shape="rect" coords="94,958,755,997" href="../elements/id-58ba8c2452664520a0ca5bdbed99e4a6.html"  target="element">
				  				<area shape="rect" coords="94,910,755,949" href="../elements/id-add9ae7a3a9e49d2b6a977ed54ace55a.html"  target="element">
				  				<area shape="rect" coords="94,862,755,901" href="../elements/id-1ac1e201b80d4ba99df207b4f652aa2e.html"  target="element">
				  				<area shape="rect" coords="94,814,755,853" href="../elements/id-17b42c4f91e54a20b2b5a218fbbef853.html"  target="element">
				  				<area shape="rect" coords="94,766,755,805" href="../elements/id-c7f9ca45488d4ff8909c304cbd95cb8a.html"  target="element">

				  		<area shape="rect" coords="82,730,767,1019" href="../elements/id-861d2ac10f234dd0985c4b872cd471cf.html"  target="element">
				  		<area shape="rect" coords="694,622,863,692" href="../elements/id-ccb38fafccec40a5aa8393ca3a9c2a56.html"  target="element">
				          <area shape="rect" coords="918,826,1147,927" href="../objects/id-222df39272f4456eaa8c47b66b7f67f3.html" target="element" >
				  		<area shape="rect" coords="940,621,1125,693" href="../elements/id-7a74b01e5a3944729cef0276007937bb.html"  target="element">
				  		<area shape="rect" coords="922,730,1143,785" href="../views/id-a4925d7ad2ae4972824c5ea755fdc208.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="238,622,407,692" href="../elements/id-aff1e562873546e59e938385febdd70a.html"  target="element">
				  		<area shape="rect" coords="10,622,179,692" href="../elements/id-b39578dcfd8940a78c3462c074dea00e.html"  target="element">
				  		<area shape="rect" coords="466,622,635,692" href="../elements/id-d621af2758424fa4842fd14a3d8cc164.html"  target="element">
				  		        <area shape="rect" coords="367,1243,680,1268" href="../objects/id-70552656791148cbbbefb48fdc048956.html" target="element" >
				  		        <area shape="rect" coords="336,1249,349,1262" href="../objects/id-7fb1568341d94c09b42dee13e52b13a0.html" target="element" >
				  				<area shape="rect" coords="34,1243,227,1268" href="../elements/id-dbe6c020d50843559dd1a41ec42db563.html"  target="element">
				  				<area shape="rect" coords="34,1343,167,1402" href="../elements/id-d30843a6a8ec4b2c96401a342e383c32.html"  target="element">
				  				<area shape="rect" coords="430,1343,563,1402" href="../elements/id-965d0a17e7f544208c013caddf5169f2.html"  target="element">
				  				<area shape="rect" coords="298,1343,431,1402" href="../elements/id-7010d3255b5d42bf805a10d1d70a8b2c.html"  target="element">
				  				<area shape="rect" coords="562,1403,695,1462" href="../elements/id-cebc2d8eff9b4f4d8c584c4af0ce0868.html"  target="element">
				  				<area shape="rect" coords="430,1403,563,1462" href="../elements/id-59b8574b32584254ae5597870b56e73a.html"  target="element">
				  				<area shape="rect" coords="298,1403,431,1462" href="../elements/id-598e9728f31149d2b0aec71f7d2c736d.html"  target="element">
				  				<area shape="rect" coords="166,1343,299,1402" href="../elements/id-110ff88e5dd547fc9898d802545ecdfb.html"  target="element">
				  				<area shape="rect" coords="166,1403,299,1462" href="../elements/id-b43b537ff43a4472a2ea7b01db9e6ab7.html"  target="element">
				  				<area shape="rect" coords="34,1401,167,1460" href="../elements/id-501f09ef223242a6a5daca06a76c153d.html"  target="element">
				  				<area shape="rect" coords="694,1343,827,1402" href="../elements/id-d1b972f8e74641eeb181ed7b92ab5df3.html"  target="element">
				  				<area shape="rect" coords="562,1343,695,1402" href="../elements/id-34a6a7d932834910af8e8ee4e1fdf2fd.html"  target="element">
				  				<area shape="rect" coords="694,1284,827,1343" href="../elements/id-1b2a35b467044a94a2302fe68a5e3b20.html"  target="element">
				  				<area shape="rect" coords="562,1284,695,1343" href="../elements/id-e9fe9127ab9b4232b560a370ff5b061b.html"  target="element">
				  				<area shape="rect" coords="430,1284,563,1343" href="../elements/id-afda58c4a2d04798b9756e8a5be6efd8.html"  target="element">
				  				<area shape="rect" coords="166,1284,299,1343" href="../elements/id-9c117dd61e214e83b658f26e669986d5.html"  target="element">
				  				<area shape="rect" coords="298,1284,431,1343" href="../elements/id-fa1097c1efd644179823add485be763f.html"  target="element">
				  				<area shape="rect" coords="34,1283,167,1344" href="../elements/id-c64df656ed9d460d920ab25009c9d3fc.html"  target="element">
				  		        <area shape="rect" coords="223,1198,752,1235" href="../objects/id-63267a3e683a4ad9b19493a7a1eee57f.html" target="element" >

				  		<area shape="rect" coords="19,1198,865,1469" href="../elements/id-a11f8e3afd7d42be97772a2d8b40556d.html"  target="element">
				  		<area shape="rect" coords="778,10,919,65" href="../views/id-5329a1fda359405d9e9cf1ba8ef9885b.html"  target="view">
				      <!-- Other diagram objects -->
				          <area shape="rect" coords="19,10,755,167" href="../objects/id-465a3b765c384dfa8fdee4a223313ada.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

                    <!-- Analysis -->

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">This view contains the [Mission] statement, the [Vision] and the detailed strategic and operational [Goals] of the [Focal Public Administration]. 

In the [Public Administration Motivation view], only the most important strategic goals are reflected.
Here, the complete set of goals of the [Focal Public Administration] can be detailed, together with the breakdown in subgoals and operational goals.

If the strategy of the  [Focal Public Administration] is detailed in one or more internal or external documents, provide links to these documents here.</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="analysis">
						<table class="table table-striped table-hover table-condensed" id="used-in-views">
							<thead>
								<tr><th colspan="2" class="i18n-used-in-views" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-viewpoint"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<table class="table table-striped table-hover table-condensed" id="model-relations">
							<thead>
								<tr><th colspan="4" class="i18n-model-relations" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
									<th class="i18n-source"></th>
									<th class="i18n-target"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-465a3b765c384dfa8fdee4a223313ada.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-465a3b765c384dfa8fdee4a223313ada.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../views/id-5329a1fda359405d9e9cf1ba8ef9885b.html" target="view"> 10 PAAF MS Motivation view </a> </td>
											    <td> <a href="../views/id-5329a1fda359405d9e9cf1ba8ef9885b.html" target="view" class="i18n-viewpoint-motivation"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../elements/id-a11f8e3afd7d42be97772a2d8b40556d.html" target="element"> UN Sustainable Development Goals </a> </td>
											    <td> <a href="../elements/id-a11f8e3afd7d42be97772a2d8b40556d.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-63267a3e683a4ad9b19493a7a1eee57f.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-63267a3e683a4ad9b19493a7a1eee57f.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

													<tr>
													    <td> <a href="../elements/id-c64df656ed9d460d920ab25009c9d3fc.html" target="element"> No poverty </a> </td>
													    <td> <a href="../elements/id-c64df656ed9d460d920ab25009c9d3fc.html" target="element" class="i18n-elementtype-Goal">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-fa1097c1efd644179823add485be763f.html" target="element"> Good health and well-being </a> </td>
													    <td> <a href="../elements/id-fa1097c1efd644179823add485be763f.html" target="element" class="i18n-elementtype-Goal">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-9c117dd61e214e83b658f26e669986d5.html" target="element"> Zero hunger </a> </td>
													    <td> <a href="../elements/id-9c117dd61e214e83b658f26e669986d5.html" target="element" class="i18n-elementtype-Goal">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-afda58c4a2d04798b9756e8a5be6efd8.html" target="element"> Quality education </a> </td>
													    <td> <a href="../elements/id-afda58c4a2d04798b9756e8a5be6efd8.html" target="element" class="i18n-elementtype-Goal">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e9fe9127ab9b4232b560a370ff5b061b.html" target="element"> Gender equality </a> </td>
													    <td> <a href="../elements/id-e9fe9127ab9b4232b560a370ff5b061b.html" target="element" class="i18n-elementtype-Goal">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1b2a35b467044a94a2302fe68a5e3b20.html" target="element"> Clean water and sanitation </a> </td>
													    <td> <a href="../elements/id-1b2a35b467044a94a2302fe68a5e3b20.html" target="element" class="i18n-elementtype-Goal">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-34a6a7d932834910af8e8ee4e1fdf2fd.html" target="element"> Sustainable cities and communities </a> </td>
													    <td> <a href="../elements/id-34a6a7d932834910af8e8ee4e1fdf2fd.html" target="element" class="i18n-elementtype-Goal">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d1b972f8e74641eeb181ed7b92ab5df3.html" target="element"> Responsible consumption and production </a> </td>
													    <td> <a href="../elements/id-d1b972f8e74641eeb181ed7b92ab5df3.html" target="element" class="i18n-elementtype-Goal">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-501f09ef223242a6a5daca06a76c153d.html" target="element"> Climate action </a> </td>
													    <td> <a href="../elements/id-501f09ef223242a6a5daca06a76c153d.html" target="element" class="i18n-elementtype-Goal">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b43b537ff43a4472a2ea7b01db9e6ab7.html" target="element"> Life below water </a> </td>
													    <td> <a href="../elements/id-b43b537ff43a4472a2ea7b01db9e6ab7.html" target="element" class="i18n-elementtype-Goal">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-110ff88e5dd547fc9898d802545ecdfb.html" target="element"> Decent work and economic growth </a> </td>
													    <td> <a href="../elements/id-110ff88e5dd547fc9898d802545ecdfb.html" target="element" class="i18n-elementtype-Goal">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-598e9728f31149d2b0aec71f7d2c736d.html" target="element"> Life on land </a> </td>
													    <td> <a href="../elements/id-598e9728f31149d2b0aec71f7d2c736d.html" target="element" class="i18n-elementtype-Goal">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-59b8574b32584254ae5597870b56e73a.html" target="element"> Peace, justice and strong institutions </a> </td>
													    <td> <a href="../elements/id-59b8574b32584254ae5597870b56e73a.html" target="element" class="i18n-elementtype-Goal">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-cebc2d8eff9b4f4d8c584c4af0ce0868.html" target="element"> Partnerships for the goals </a> </td>
													    <td> <a href="../elements/id-cebc2d8eff9b4f4d8c584c4af0ce0868.html" target="element" class="i18n-elementtype-Goal">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-7010d3255b5d42bf805a10d1d70a8b2c.html" target="element"> Industry, innovation and infrastructure </a> </td>
													    <td> <a href="../elements/id-7010d3255b5d42bf805a10d1d70a8b2c.html" target="element" class="i18n-elementtype-Goal">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-965d0a17e7f544208c013caddf5169f2.html" target="element"> Reduced inequalities </a> </td>
													    <td> <a href="../elements/id-965d0a17e7f544208c013caddf5169f2.html" target="element" class="i18n-elementtype-Goal">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d30843a6a8ec4b2c96401a342e383c32.html" target="element"> Affordable and clean energy </a> </td>
													    <td> <a href="../elements/id-d30843a6a8ec4b2c96401a342e383c32.html" target="element" class="i18n-elementtype-Goal">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-dbe6c020d50843559dd1a41ec42db563.html" target="element"> Sustainable development </a> </td>
													    <td> <a href="../elements/id-dbe6c020d50843559dd1a41ec42db563.html" target="element" class="i18n-elementtype-Principle">
													    </a> </td>
													</tr>

											        <tr>
											           <td> <a href="../objects/id-7fb1568341d94c09b42dee13e52b13a0.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-7fb1568341d94c09b42dee13e52b13a0.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-70552656791148cbbbefb48fdc048956.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-70552656791148cbbbefb48fdc048956.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-d621af2758424fa4842fd14a3d8cc164.html" target="element"> Address instances of VAT fraud </a> </td>
											    <td> <a href="../elements/id-d621af2758424fa4842fd14a3d8cc164.html" target="element" class="i18n-elementtype-Goal">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b39578dcfd8940a78c3462c074dea00e.html" target="element"> Modernise how companies account for VAT in cross-border business </a> </td>
											    <td> <a href="../elements/id-b39578dcfd8940a78c3462c074dea00e.html" target="element" class="i18n-elementtype-Goal">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-aff1e562873546e59e938385febdd70a.html" target="element"> Remove cumbersome administrative procedures </a> </td>
											    <td> <a href="../elements/id-aff1e562873546e59e938385febdd70a.html" target="element" class="i18n-elementtype-Goal">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../views/id-a4925d7ad2ae4972824c5ea755fdc208.html" target="view"> Digital Solution Architecture Decisions Catalogue view </a> </td>
											    <td> <a href="../views/id-a4925d7ad2ae4972824c5ea755fdc208.html" target="view" class="i18n-viewpoint-layered"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../elements/id-7a74b01e5a3944729cef0276007937bb.html" target="element"> Digital Solution Architecture Decision </a> </td>
											    <td> <a href="../elements/id-7a74b01e5a3944729cef0276007937bb.html" target="element" class="i18n-elementtype-Goal">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-222df39272f4456eaa8c47b66b7f67f3.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-222df39272f4456eaa8c47b66b7f67f3.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-ccb38fafccec40a5aa8393ca3a9c2a56.html" target="element"> Inform Member State authorities of transactions in almost real-time </a> </td>
											    <td> <a href="../elements/id-ccb38fafccec40a5aa8393ca3a9c2a56.html" target="element" class="i18n-elementtype-Goal">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-861d2ac10f234dd0985c4b872cd471cf.html" target="element"> Fiscalis Programme goals </a> </td>
											    <td> <a href="../elements/id-861d2ac10f234dd0985c4b872cd471cf.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-c7f9ca45488d4ff8909c304cbd95cb8a.html" target="element"> Support tax authorities and taxation to enhance the functioning of the internal market  </a> </td>
													    <td> <a href="../elements/id-c7f9ca45488d4ff8909c304cbd95cb8a.html" target="element" class="i18n-elementtype-Goal">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-17b42c4f91e54a20b2b5a218fbbef853.html" target="element"> Foster the competitiveness of the Union and fair competition in the Union  </a> </td>
													    <td> <a href="../elements/id-17b42c4f91e54a20b2b5a218fbbef853.html" target="element" class="i18n-elementtype-Goal">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1ac1e201b80d4ba99df207b4f652aa2e.html" target="element"> Improve tax collection and protect the Union and its Member States from tax fraud, tax evasion and tax avoidance, among other financial and economic interests  </a> </td>
													    <td> <a href="../elements/id-1ac1e201b80d4ba99df207b4f652aa2e.html" target="element" class="i18n-elementtype-Goal">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-add9ae7a3a9e49d2b6a977ed54ace55a.html" target="element"> Support the development of tax policy actions and the implementation of Union law relating to taxation  </a> </td>
													    <td> <a href="../elements/id-add9ae7a3a9e49d2b6a977ed54ace55a.html" target="element" class="i18n-elementtype-Goal">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-58ba8c2452664520a0ca5bdbed99e4a6.html" target="element"> Foster cooperation between tax authorities, including exchange of tax information and capacity building development such as human competency and European electronic systems  </a> </td>
													    <td> <a href="../elements/id-58ba8c2452664520a0ca5bdbed99e4a6.html" target="element" class="i18n-elementtype-Goal">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-43ad7d13550f46eda1df16b43532ed3d.html" target="element"> Mission: Improve VAT collection, reduce VAT fraud and reduce compliance costs for business. </a> </td>
											    <td> <a href="../elements/id-43ad7d13550f46eda1df16b43532ed3d.html" target="element" class="i18n-elementtype-Goal">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ec1e87242a3748e0b42abb04253b9db1.html" target="element"> Vision: Modernise VAT reporting obligations, by introducing Digital Reporting Requirements, impose the use of e-invoicing for cross-border transactions, update the VAT rules in platform economy and improve the One-Stop Shop systems </a> </td>
											    <td> <a href="../elements/id-ec1e87242a3748e0b42abb04253b9db1.html" target="element" class="i18n-elementtype-Goal">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-be3a8285074540a6a6e508c3787ffd38.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-be3a8285074540a6a6e508c3787ffd38.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-1effc2423b4541989196690631adb0e6.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-1effc2423b4541989196690631adb0e6.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
																	<tr>
																		<td> <a href="../elements/id-d5fced53aec346c4ae1b57961cd14692.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d5fced53aec346c4ae1b57961cd14692.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a11f8e3afd7d42be97772a2d8b40556d.html" target="element"> UN Sustainable Development Goals </a> </td>
																		<td> <a href="../elements/id-9c117dd61e214e83b658f26e669986d5.html" target="element"> Zero hunger </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1d17bf5062a54eee8af153db2171c84e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1d17bf5062a54eee8af153db2171c84e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a11f8e3afd7d42be97772a2d8b40556d.html" target="element"> UN Sustainable Development Goals </a> </td>
																		<td> <a href="../elements/id-fa1097c1efd644179823add485be763f.html" target="element"> Good health and well-being </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cb44132cfc1141bda226d9ddeaa21c06.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cb44132cfc1141bda226d9ddeaa21c06.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a11f8e3afd7d42be97772a2d8b40556d.html" target="element"> UN Sustainable Development Goals </a> </td>
																		<td> <a href="../elements/id-1b2a35b467044a94a2302fe68a5e3b20.html" target="element"> Clean water and sanitation </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-37b1403012f549e4a3ab63a620ca87f2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-37b1403012f549e4a3ab63a620ca87f2.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a11f8e3afd7d42be97772a2d8b40556d.html" target="element"> UN Sustainable Development Goals </a> </td>
																		<td> <a href="../elements/id-34a6a7d932834910af8e8ee4e1fdf2fd.html" target="element"> Sustainable cities and communities </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9842755ce85a4059b15eadda8282b0a6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9842755ce85a4059b15eadda8282b0a6.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a11f8e3afd7d42be97772a2d8b40556d.html" target="element"> UN Sustainable Development Goals </a> </td>
																		<td> <a href="../elements/id-afda58c4a2d04798b9756e8a5be6efd8.html" target="element"> Quality education </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d332d8edf5814fb690abbd063d4c0dd6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d332d8edf5814fb690abbd063d4c0dd6.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a11f8e3afd7d42be97772a2d8b40556d.html" target="element"> UN Sustainable Development Goals </a> </td>
																		<td> <a href="../elements/id-501f09ef223242a6a5daca06a76c153d.html" target="element"> Climate action </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9fcae7ac5b6e427c9a793cda6dd80261.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9fcae7ac5b6e427c9a793cda6dd80261.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a11f8e3afd7d42be97772a2d8b40556d.html" target="element"> UN Sustainable Development Goals </a> </td>
																		<td> <a href="../elements/id-b43b537ff43a4472a2ea7b01db9e6ab7.html" target="element"> Life below water </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9337471cf12d4c629c5c5d6bf8cfb8de.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9337471cf12d4c629c5c5d6bf8cfb8de.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a11f8e3afd7d42be97772a2d8b40556d.html" target="element"> UN Sustainable Development Goals </a> </td>
																		<td> <a href="../elements/id-d30843a6a8ec4b2c96401a342e383c32.html" target="element"> Affordable and clean energy </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-fc854862f7ca478892620fd05ab74580.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fc854862f7ca478892620fd05ab74580.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a11f8e3afd7d42be97772a2d8b40556d.html" target="element"> UN Sustainable Development Goals </a> </td>
																		<td> <a href="../elements/id-c64df656ed9d460d920ab25009c9d3fc.html" target="element"> No poverty </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0d023754e1d64ca49f0fee081035c8e2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0d023754e1d64ca49f0fee081035c8e2.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a11f8e3afd7d42be97772a2d8b40556d.html" target="element"> UN Sustainable Development Goals </a> </td>
																		<td> <a href="../elements/id-965d0a17e7f544208c013caddf5169f2.html" target="element"> Reduced inequalities </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-04f2062ca4a3481f941ff237d0e66890.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-04f2062ca4a3481f941ff237d0e66890.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a11f8e3afd7d42be97772a2d8b40556d.html" target="element"> UN Sustainable Development Goals </a> </td>
																		<td> <a href="../elements/id-7010d3255b5d42bf805a10d1d70a8b2c.html" target="element"> Industry, innovation and infrastructure </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-bc69ddd1930e4627a87853c76d960b86.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bc69ddd1930e4627a87853c76d960b86.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a11f8e3afd7d42be97772a2d8b40556d.html" target="element"> UN Sustainable Development Goals </a> </td>
																		<td> <a href="../elements/id-e9fe9127ab9b4232b560a370ff5b061b.html" target="element"> Gender equality </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6e6ec699e4c143fcbd77640053ffb027.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6e6ec699e4c143fcbd77640053ffb027.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a11f8e3afd7d42be97772a2d8b40556d.html" target="element"> UN Sustainable Development Goals </a> </td>
																		<td> <a href="../elements/id-110ff88e5dd547fc9898d802545ecdfb.html" target="element"> Decent work and economic growth </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1e397bc344a64ce79adec84ac0d05e39.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1e397bc344a64ce79adec84ac0d05e39.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a11f8e3afd7d42be97772a2d8b40556d.html" target="element"> UN Sustainable Development Goals </a> </td>
																		<td> <a href="../elements/id-59b8574b32584254ae5597870b56e73a.html" target="element"> Peace, justice and strong institutions </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-40ed438848da434eb99f35056f907a26.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-40ed438848da434eb99f35056f907a26.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a11f8e3afd7d42be97772a2d8b40556d.html" target="element"> UN Sustainable Development Goals </a> </td>
																		<td> <a href="../elements/id-d1b972f8e74641eeb181ed7b92ab5df3.html" target="element"> Responsible consumption and production </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7a15576c511441808b9d1b6f4bb45f0c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7a15576c511441808b9d1b6f4bb45f0c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a11f8e3afd7d42be97772a2d8b40556d.html" target="element"> UN Sustainable Development Goals </a> </td>
																		<td> <a href="../elements/id-cebc2d8eff9b4f4d8c584c4af0ce0868.html" target="element"> Partnerships for the goals </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-aa70c8fcabdd4a3280aa07fd39dee4b1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-aa70c8fcabdd4a3280aa07fd39dee4b1.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a11f8e3afd7d42be97772a2d8b40556d.html" target="element"> UN Sustainable Development Goals </a> </td>
																		<td> <a href="../elements/id-598e9728f31149d2b0aec71f7d2c736d.html" target="element"> Life on land </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																			<tr>
																				<td> <a href="../elements/id-5db4444b12ad4f5db86c40639cb8b472.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5db4444b12ad4f5db86c40639cb8b472.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-dbe6c020d50843559dd1a41ec42db563.html" target="element"> Sustainable development </a> </td>
																				<td> <a href="../elements/id-a11f8e3afd7d42be97772a2d8b40556d.html" target="element"> UN Sustainable Development Goals </a> </td>
																			</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-1cfbda34fc024805a01147da1dc7a216.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1cfbda34fc024805a01147da1dc7a216.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-861d2ac10f234dd0985c4b872cd471cf.html" target="element"> Fiscalis Programme goals </a> </td>
																		<td> <a href="../elements/id-c7f9ca45488d4ff8909c304cbd95cb8a.html" target="element"> Support tax authorities and taxation to enhance the functioning of the internal market  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-451abd5b89cb4c5c90ec70162b6fd307.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-451abd5b89cb4c5c90ec70162b6fd307.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-861d2ac10f234dd0985c4b872cd471cf.html" target="element"> Fiscalis Programme goals </a> </td>
																		<td> <a href="../elements/id-17b42c4f91e54a20b2b5a218fbbef853.html" target="element"> Foster the competitiveness of the Union and fair competition in the Union  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-203d658060d74ff19cd9a3ae7f535c68.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-203d658060d74ff19cd9a3ae7f535c68.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-861d2ac10f234dd0985c4b872cd471cf.html" target="element"> Fiscalis Programme goals </a> </td>
																		<td> <a href="../elements/id-1ac1e201b80d4ba99df207b4f652aa2e.html" target="element"> Improve tax collection and protect the Union and its Member States from tax fraud, tax evasion and tax avoidance, among other financial and economic interests  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3008150dbbbe4240b3a17904c4a26607.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3008150dbbbe4240b3a17904c4a26607.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-861d2ac10f234dd0985c4b872cd471cf.html" target="element"> Fiscalis Programme goals </a> </td>
																		<td> <a href="../elements/id-add9ae7a3a9e49d2b6a977ed54ace55a.html" target="element"> Support the development of tax policy actions and the implementation of Union law relating to taxation  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d78a10a13c82466cb9adb4fc15256366.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d78a10a13c82466cb9adb4fc15256366.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-861d2ac10f234dd0985c4b872cd471cf.html" target="element"> Fiscalis Programme goals </a> </td>
																		<td> <a href="../elements/id-58ba8c2452664520a0ca5bdbed99e4a6.html" target="element"> Foster cooperation between tax authorities, including exchange of tax information and capacity building development such as human competency and European electronic systems  </a> </td>
																	</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>